<div class = "top"></div>
<div class = "bread"></div>

<div class = item-left></div>

<div class = "item">
  <div class = "item-box">
    <h1>タイトル</h1>
    <div class = "item-box__main">
      <div class = "item-box__main__left">
        <div class = "item-box__main__left__bigpic">
        </div>
        <div class = "item-box__main__left__smallpics">
        </div>
      </div>
      <div class = "item-box__main__right">
        <table class = "item-box__main__right__table">
          <tbody>
            <tr>
              <th>出品者</th>
              <td><a>出品者名</a></td>
            </tr>
            <tr>
              <th>カテゴリー</th>
              <td><a>レディス > ブランド > シャネル</a></td>
            </tr>
            <tr>
              <th>ブランド</th>
              <td><a>テスト2</a></td>
            </tr>
            <tr>
              <th>商品の状態</th>
              <td>未使用</td>
            </tr>
            <tr>
              <th>配送料の負担</th>
              <td>出品者負担</td>
            </tr>
            <tr>
              <th>配送の方法</th>
              <td><a>普通郵便(定形、定形外)</a></td>
            </tr>
            <tr>
              <th>配送元地域</th>
              <td><a>ブラジル</a></td>
            </tr>
            <tr>
              <th>配送日の目安</th>
              <td><a>1日~2日で発送</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class = "item-box__price">
      <span class = "item-box__price__amount">10000</span>
      <span class = "item-box__price__withtax">(税込)</span>
      <span class = "item-box__price__shipcost">送料込み</span>
    </div>
    <div class = "item-box__buybox">
      <a></a>購入画面に進む
    </div>
    <div class = "item-box__buybox_ng">
      <a></a>売り切れました
    </div>
    <div class = "item-box__desc">
      詳細いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
    </div>
    <div class = "item-box__button">
      <div class = "item-box__button__left">
        <div class ="item-box__button__like" >
          <div class ="item-box__button__like_word" >
            いいね！ 8
          </div>
        </div>
        <div class = "item-box__button__report">
          <div class = "item-box__button__report__word">
            報告
          </div>
        </div>
      </div>
      <div class = "item-box__button__right">
        <div class = "item-box__button__safe">
        あんしん・あんぜんへの取り組み
        </div>
      </div>
    </div>
  </div>

  <div class = "item-comment">
    <form class = "item-comment__form">
      <p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
      <textarea type = "text" name = "body"></textarea>
      <button type = "submit">コメントする</button>
    </form>
  </div>
  <ul class = "item-link">
    <li class = "item-link__pre">＜ 前のページへ</li>
    <li class = "item-link__next">次のページへ ＞</li>
  </ul>
  <div class = "item__sns">
    <div class = "item__sns__main">
      <div class = "item__sns__main__fb">
      FB
      </div>
      <div class = "item__sns__main__tw">
      TW
      </div>
    </div>
  </div>
</div>

<div class = item-right></div>

<aside class = "banner">
  picture
</aside>
<footer class = "footer">
  フッター
</footer>