.mypage__container
  .search__nav
    = search_form_for @search, url: {controler: "search", action: "detail" } do |f|
      %h3.searvh__nav__header
        詳細検索

      .form__group
        %label.form__group__name
          = f.label :name_cont, "キーワードを追加する" 
          = f.search_field :name_cont

          = f.submit "検索"

      -# .form__group
      -#   %label.form__group__name
      -#     カテゴリーを選択する
      -#   .select__wrap{data: {search: "parent"}}
      -#     = select :category, :root, [["すべて", "category__root0"], ["men", "category__root1"], ["women", "category__root2"], ["child", "category__root3"] ]
      -#   .select__wrap{data: {search: "child"}}
      -#     %select.select__default
      -#   %div{data: {search: "grand-child"}}

      -# .form__group
      -#   %label.form__group__name
      -#     ブランド名から探す
      -#   %input.form__group__input

      -# .form__group
      -#   %label.form__group__name
      -#     サイズを指定する
      -#   %input.form__group__input
      
      -# .form__group.search__price
      -#   %label.form__group__name
      -#     価格
      -#   .form__group__input
      -#     = text_field :min__price, "", { placeholder: "¥ Min", class: "min__price" }
      -#   .form__group__input
      -#     = text_field :max__price, "", { placeholder: "¥ Max", class: "max__price" }

      -# .form__group
      -#   %label.form__group__name
      -#     商品の状態
      -#   .checkbox__default
      -#     = check_box_tag :all
      -#     %label
      -#       すべて
      -#   .checkbox__default
      -#     = check_box_tag :condition_id[1]
      -#     %label
      -#       新品、未使用
      -#   .checkbox__default
      -#     = check_box_tag :condition_id[2]
      -#     %label
      -#       未使用に近い
      -#   .checkbox__default
      -#     = check_box_tag :condition_id[3]
      -#     %label
      -#       目立った傷や汚れなし
      -#   .checkbox__default
      -#     = check_box_tag :condition_id[4]
      -#     %label
      -#       やや傷や汚れあり
      -#   .checkbox__default
      -#     = check_box_tag :condition_id[5]
      -#     %label
      -#       傷や汚れあり
      -#   .checkbox__default
      -#     = check_box_tag :condition_id[6]
      -#     %label
      -#       全体的に状態が悪い

      -# .form__group
      -#   %label.form__group__name
      -#     配送料の負担
      -#   .checkbox__default
      -#     = check_box_tag :all
      -#     %label
      -#       すべて
      -#   .checkbox__default
      -#     = check_box_tag :shipping_fee_payer_id[1]
      -#     %label
      -#       着払い(購入者負担)
      -#   .checkbox__default
      -#     = check_box_tag :shipping_fee_payer_id[2]
      -#     %label
      -#       送料込み(出品者負担)

      -# .form__group
      -#   %label.form__group__name
      -#     販売状況
      -#   .checkbox__default
      -#     = check_box_tag :all
      -#     %label
      -#       すべて
      -#   .checkbox__default
      -#     = check_box_tag :on_sale
      -#     %label
      -#       販売中
      -#   .checkbox__default
      -#     = check_box_tag :sold_out
      -#     %label
      -#       売り切れ

      -# .search__nav__button
      -#   .search__button__reset{data: {search: "reset"}}
      -#     クリア
      -#   .search__button__submit
      -#     =submit_tag "完了", class: 'button'
