.content
  .form
    = form_tag("/search") do
      = text_field_tag :keyword
      =submit_tag "検索"
  .search__results
    - @items.each do |item|
      %ul
        %li.seached__item
          = item.name