<footer class='footer__others'>
  <nav class='footer__others__nav'>
      <li class='footer__others__nav__one'>
        <a class='footer__others__font' href="#">プライバシーポリシー</a>
      </li>
      <li class='footer__others__nav__two'>
        <a class='footer__others__font' href="#">メルカリ利用規約</a>
      </li>
      <li class='footer__others__nav__two'>
        <a class='footer__others__font' href="#">特定商取引に関する表記</a>
      </li>
  </nav>
  <a href="#" class="footer__others__logo">
    <%= image_tag('Exhibition_page_logo-gray.svg',class: 'd__logo-gray')%></a>
  </a>
  <p  class='footer__others__rmark'>
    <small>© 2019 Mercari</small>
  </p>
</footer>