%body
  .header__others
    %header.header__others__nav
      %h1.header__others__h1
        %a.header__others__href{:href => "./items"}
          = image_tag('Exhibition_page_logo.svg',class: 'header__others__logo')
