<div class='header__others'>
  <header class='header__others__nav'>
    <h1 class= 'header__others__h1'>
      <a href='./items' class='header__others__href'>
        <%= image_tag('Exhibition_page_logo.svg',class: 'header__others__logo')%>
      </a>
    </h1>
  </header>
</div>