%footer.footer__others
  %nav.footer__others__nav
    %li.footer__others__nav__one
      %a.footer__others__font{:href => "#"} プライバシーポリシー
    %li.footer__others__nav__two
      %a.footer__others__font{:href => "#"} メルカリ利用規約
    %li.footer__others__nav__two
      %a.footer__others__font{:href => "#"} 特定商取引に関する表記
  %a.footer__others__logo{:href => "#"}
    = image_tag('Exhibition_page_logo-gray.svg',class: 'd__logo-gray')
  %p.footer__others__rmark
    %small © 2019 Mercari
