%body
  .header__line
    %header.header__line__nav
      %h1.header__line__nav__left
        %a.header__line__nav__href{:href => "/items#index", "data-turbolinks" => "false"}
          = image_tag('Exhibition_page_logo.svg',class: 'header__line__nav__href__logo')
      %h2.header__line__nav__right
      %li.progress__active
        会員情報
        .progress__status__one
      %li.progress__none
        電話番号認証
        .progress__status
      %li.progress__none
        お届け先住所入力
        .progress__status
      %li.progress__none
        支払い方法
        .progress__status
      %li.progress__none
        完了
        .progress__status
