%body.resist__body
  = render 'userheader'
  %main.registration__main
    %section.registration__main__container
      %h2.registration__main__head 発送元・お届け先住所入力
      %form.registration__main__form{action: "", method: "POST"}
        %input{name: "", type: "hidden", value: ""}/
        .user__form__content
          .user__form__group
            %label{for: "user__title"} お名前
            %span.user__form__require 必須
            %input.user__form__input{name: "", placeholder: "氏", type: "text", value: ""}/
            %input.user__form__input{name: "", placeholder: "名", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} お名前カナ
            %span.user__form__require 必須
            %input.user__form__input{name: "", placeholder: "アベ", type: "text", value: ""}/
            %input.user__form__input{name: "", placeholder: "タナカ", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 郵便番号
            %span.user__form__require 必須
            %input.user__form__input{name: "", placeholder: "例) 123-4567", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 都道府県
            %span.user__form__require 必須
            %select.user__select__default.d__fa__select{name: "prefecture"}
              %option{value: ""} --
              %option{value: "北海道"} 北海道
            %i.user__select__default__arrow
          .user__form__group
            %label{for: "user__title"} 市区町村
            %span.user__form__require 必須
            %input.user__form__input{name: "", placeholder: "渋谷区", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 建物名
            %span.user__form__require__b 任意
            %input.user__form__input{name: "", placeholder: "柳ビル111", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 電話
            %span.user__form__require__b 任意
            %input.user__form__input{name: "", placeholder: "0901234567", type: "text", value: ""}/
          %button.user__form__botton{type: "submit"} 次へ進む
        　
  = render 'subfooter'
