<body class='resist__body'>
  <%= render 'userheader'%>
    <main class='registration__main'>
      <section class='registration__main__container'>

    <h2 class='registration__main__head'>会員登録完了</h2>
    <div class="user__form__content">
    <div class="registration__main__form"></div>
    <p class="user__complete__text">
    ありがとうございます。<br>
    会員登録が完了しました。
    </p>
    <button type="submit" class="user__form__botton">メルカリをはじめる</button>
    <div class="user__complete__space">  </div>
    <div>

      </section>
    </main>
    <div class="app-intro">
    <div class="app-intro-inner">
      <h2>スマホで簡単フリマアプリ</h2>
      <p>今すぐ無料ダウンロード！</p>
    </div>
    <div class="app-intro-icon">
      <%= image_tag 'app-logo.jpg',class: "app-logo", height: '68', width: '68'  %>
      <ul class="app-intro-links">
        <li class="app-store"></li>
        <li class="app-google"></li>
      </ul>
    </div>
    <%= image_tag 'appa.png',class: "app-img", height: '260' %>
    </div>
</body>