%body
  %nav.pankuzu
  .mypage__container
    .nav
      = render "mypage_nav"
    .mypage__profile
      .mypage__profile__header
        .mypage__profile__header__title
          プロフィール
      .mypage__profile__name
        .mypage__profile__name__content
          .mypage__profile__name__content__icon
            = image_tag('member_noimage.png', size:'60x60')
          %input.mypage__profile__name__content__input
      .mypage__profile__intro
        .mypage__profile__intro__content
          .mypage__profile__intro__content__textarea
            テキストエリア
          .mypage__profile__intro__content__button
            変更する