- breadcrumb :identification
%body
  %nav.pankuzu
  .mypage__container
    .nav
      = render 'mypage_nav'
    / / ここにページの右側の情報を記載
    .iden__container
      %section.iden__container__inner
        %h2.iden__container__head 本人情報の登録
        %form.iden__container__single{action: "", method: "", novalidate: ""}
          %div
            %p.user__title__text__inline
              お客さまの本人情報をご登録ください。
              %br>/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            .user__form__group__c
              %p.user__form__other
                %a.user__form__other__info{href: "", target: "_blank"}
                  本人確認書類のアップロードについて
                  %i.fa.fa-angle-right.fa-lg
          .user__form__group
            %label{for: "user__title"} お名前
            %span.user__form__require 必須
            %input.user__form__input{name: "", placeholder: "例）田中", type: "text", value: ""}/
            %input.user__form__input{name: "", placeholder: "例）翔", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} お名前カナ
            %span.user__form__require 必須
            %input.user__form__input{name: "", placeholder: "例）アベ", type: "text", value: ""}/
            %input.user__form__input{name: "", placeholder: "例）カズアキ", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 生年月日
            %span.user__form__require 必須
            %br/
            .user__form__birthday__b
              .user__form__birthday__b__select
                %select.user__select__default.d__fa__select
                %i.user__select__default__arrow
              %span 年
            .user__form__birthday
              .user__form__birthday__select
                %select.user__select__default.d__fa__select
                %i.user__select__default__arrow
              %span 月
            .user__form__birthday
              .user__form__birthday__select
                %select.user__select__default.d__fa__select
                %i.user__select__default__arrow
              %span 日
            %p.user__form__infomation__b
              ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
            %input{name: "", type: "hidden", value: ""}/
          .user__form__group
            %label{for: "user__title"} 郵便番号
            %span.user__form__require__b 任意
            %input.user__form__input{name: "", placeholder: "例）123-4567", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 都道府県
            %span.user__form__require__b 任意
            %select.user__select__default.d__fa__select
              %option --
              %option 北海道
            %i.user__select__default__arrow
          .user__form__group
            %label{for: "user__title"} 市区町村
            %span.user__form__require__b 任意
            %input.user__form__input{name: "", placeholder: "例）123-4567", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 番地
            %span.user__form__require__b 任意
            %input.user__form__input{name: "", placeholder: "例）123-4567", type: "text", value: ""}/
          .user__form__group
            %label{for: "user__title"} 建物
            %span.user__form__require__b 任意
            %input.user__form__input{name: "", placeholder: "例）123-4567", type: "text", value: ""}/
          %button.user__form__botton 登録する
          .user__form__group
            %p.user__form__other
              %a.user__form__other__info{href: "", target: "_blank"}
                本人情報の登録について
                %i.fa.fa-angle-right.fa-lg
          %input{name: "", type: "hidden", value: ""}/
