<body>
  <nav class='pankuzu'></nav>
  <div class='mypage__container'>
    <div class='nav'>
    <%= render 'mypage_nav'%>
    </div>
    <!-- / ここにページの右側の情報を記載 -->
    <div class='iden__container'>
    本人確認
    </div>
  </div>
</body>