<main class='other__block'>
  <section class='other__block__login'>
    <h2 class='other__block__login__head'>新規会員登録</h2>
    <div class='other__block__inner'>
      <div class='other__block__content'>
        <a class='d__btn-mail' href='/users'>
          <i class='d__i__mail'></i>
          メールアドレスで登録
        </a>
        <button class='d__btn-sns-facebook' id='d__facebook-login'>
          <i class='d__i__fb'></i>
          <i class='icon-facebook'></i>
          Facebookで登録
        </button>
        <button class='d__btn-sns-google' id='d__google-login'>
          <i class='d__icon-google'></i>
          Googleで登録
        </button>
      </div>
    </div>
  </section>
</main>


<div class="login-no-account">
<p>アカウントをお持ちでない方はこちら</p>
<a href="https://www.mercari.com/jp/signup/?after_save_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F">新規会員登録</a>
</div>