%body
  %nav.pankuzu
  .mypage__container
    .nav
      = render "mypage_nav"
    .mypage__logout
      .logout__content
        .logout__content__button
          = link_to 'ログアウト', destroy_user_session_path, class: "logout", method: "delete"