<body class='resist__body'>
<div class='head__container'>
  <header class='d__others__header'>
    <h1 class= 'd__h1'>
      <a href='./items' class='d__href'>
        <%= image_tag('Exhibition_page_logo.svg',class: 'd__logo')%>
      </a>
    </h1>
  </header>
</div>

<main class='d__others__main'>
  <section class='d__others__main__container'>
    <h2 class="d__others__main__head">新規会員登録</h2>
      <div class="d__others__inner">
      <div class="d__others__content">
        <a href='#' class='d__btn-mail'>
        <i class='d__i__mail'><%= fa_icon('envelope lg', type: :reguler, class: 'd__icon__mail') %></i>
          メールアドレスで登録
        </a>

        <button id='d__facebook-login' class='d__btn-sns-facebook'>
        <i class='d__i__fb'><%= fa_icon('facebook-square lg', type: :reguler, class: 'd__icon__facebook') %></i>
          <i class="icon-facebook"></i>
          Facebookで登録
        </button>


        <button id='d__google-login' class='d__btn-sns-google'>
        <i class='d__icon-google'></i>
          Googleで登録
        </button>
      </div>
    </div>
  </section>
</main>

<footer class='d__single-footer'>
  <nav class='d__nav__footer'>
      <li class='d__li__one'>
        <a class='d__font' href="#">プライバシーポリシー</a>
      </li>
      <li class='d__li__two'>
        <a class='d__font' href="#">メルカリ利用規約</a>
      </li>
      <li class='d__li__two'>
        <a class='d__font' href="#">特定商取引に関する表記</a>
      </li>
  </nav>
  <a href="#" class="d__single-footer-logo">
    <%= image_tag('Exhibition_page_logo-gray.svg',class: 'd__logo-gray')%></a>
  </a>
  <p  class='d__rmark'>
    <small>© 2019 Mercari</small>
  </p>
</footer>
</body>