<body class='resist__body'>
  <%= render 'userheader'%>
    <main class='registration__main'>
      <section class='registration__main__container'>
      <h2 class='registration__main__head__sub'>電話番号の確認</h2>

    <form action="#" method="POST" class="registration__main__form">
        <input type="hidden" value="" name="">
      <div class="user__form__content">

        <div class="user__form__group">
          <label for="user__title">携帯電話の番号</label>
          <input type="tel" value="" name="" placeholder="携帯電話の番号を入力" class="user__form__input">
        </div>
        <p class="user__title__text__inline">本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。</p>

          <button type="submit" class="user__form__botton">SMSを送信する</button>
        <p class="user__title__text__inline">※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。</p>

      <div class="user__form__group">
        <p class=user__form__other>
          <a href="" target="_blank" class='user__form__other__info'>電話番号の確認が必要な理由<%= fa_icon("angle-right lg") %></a>
        </p>
      </div>
    </div>
      <input type="hidden" name="" value="">
      <input type="hidden" name="" value="">
  </form>

      </section>
    </main>
  <%= render 'subfooter'%>
</body>