


<header class="r__header"></header>
<nav class="r__pankuzu"></nav>



<div class="r__side">
  <nav class="r__mypage__nav">
    <ul class="r__mypage__nav__list">
      
      <li class="r__mypage__nav_list__item">
        マイページ
      </li>

      <li class="r__mypage__nav_list__item">
        お知らせ
      </li>

      <li class="r__mypage__nav_list__item">
        やることリスト
      </li>

      <li class="r__mypage__nav_list__item">
        いいね！一覧
      </li>

      <li class="r__mypage__nav_list__item">
        出品する
      </li>

      <li class="r__mypage__nav_list__item">
        出品した商品-出品中
      </li>

      <li class="r__mypage__nav_list__item">
        出品した商品-取引中
      </li>

      <li class="r__mypage__nav_list__item">
        出品した商品-売却済み
      </li>

      <li class="r__mypage__nav_list__item">
        購入した商品-取引中
      </li>

      <li class="r__mypage__nav_list__item">
        購入した商品-過去の取引
      </li>

      <li class="r__mypage__nav_list__item">
        ニュース一覧
      </li>

      <li class="r__mypage__nav_list__item">
        評価一覧
      </li>

      <li class="r__mypage__nav_list__item">
        ガイド
      </li>

      <li class="r__mypage__nav_list__item">
        お問い合わせ
      </li>

    </ul>

    <h3 class="r__mypage__nav__head">メルペイ</h3>

    <ul class="r__mypage__nav__list">
      
      <li class="r__mypage__nav_list__item">
        売上・振込申請
      </li>

      <li class="r__mypage__nav_list__item">
        ポイント
      </li>

    </ul>

    <h3 class="r__mypage__nav__head">設定</h3>

    <ul class="r__mypage__nav__list">
      
      <li class="r__mypage__nav_list__item">
        プロフィール
      </li>

      <li class="r__mypage__nav_list__item">
        発送元・お届け先住所変更
      </li>

      <li class="r__mypage__nav_list__item">
        支払い方法
      </li>

      <li class="r__mypage__nav_list__item">
        メール/パスワード
      </li>

      <li class="r__mypage__nav_list__item">
        本人情報
      </li>

      <li class="r__mypage__nav_list__item">
        電話番号の確認
      </li>

      <li class="r__mypage__nav_list__item">
        ログアウト
      </li>



    </ul>

  </nav>
</div>


<aside class="r__banner"></aside>
<footer class="r__footer"></footer>


