<header class="r__header"></header>
<nav class="r__pankuzu"></nav>

<div class="r__container">

  <div class="r__main">
    <div class="r__mypage__user__icon">
      アイコン
    </div>
    <div class="r__mypage__tabs">
      <ul>
        <li class="r__mypage__tab">
          お知らせ
        </li>
        <li class="r__mypage__tab">
          やることリスト
        </li>
      </ul>
    </div>
    <ul class="r__tab__content">
      <li class="r__mypage__info">
        《いま出品するとおトク》抽選で「取引手数料」を"全額"ポイントバックのチャンス
      </li>
      <li class="r__mypage__info">
        事務局から個別メッセージ「ログイン通知」
      </li>
      <li class="r__mypage__info">
        事務局から個別メッセージ「ログイン通知」
      </li>
      <li class="r__mypage__info">
        《メルカリ6周年大感謝祭》今だけ限定のお得チケットをプレゼントしました
      </li>
      <li class="r__mypage__info">
        《買うほどお得、売るほどお得》メルカリ6周年大感謝祭、本日スタート！
      </li>
      <li class="r__mypage__go__list">
        一覧を見る
      </li>
    </ul>
    <div class="r__mypage__tabs__head">
      購入した商品
    </div>
    <div class="r__mypage__tabs">
      <ul>
        <li class="r__mypage__tab">
          取引中
        </li>
        <li class="r__mypage__tab">
          過去の取引
        </li>
      </ul>
    </div>
    <div class="r__mypage__item__not__found">
      取引中の商品がありません
    </div>
  </div>

  <div class="r__side">
    <nav class="r__nav">
      <ul class="r__nav__list">
        
        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            マイページ
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            お知らせ
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            やることリスト
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            いいね！一覧
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            出品する
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            出品した商品-出品中
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            出品した商品-取引中
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            出品した商品-売却済み
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            購入した商品-取引中
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            購入した商品-過去の取引
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            ニュース一覧
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            評価一覧
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            ガイド
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            お問い合わせ
          </div>
        </li>

      </ul>

      <h3 class="r__nav__head">メルペイ</h3>

      <ul class="r__nav__list">
        
        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            売上・振込申請
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            ポイント
          </div>
        </li>

      </ul>

      <h3 class="r__nav__head">設定</h3>

      <ul class="r__nav__list">
        
        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
              プロフィール
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            発送元・お届け先住所変更
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            支払い方法
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            メール/パスワード
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            本人情報
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            電話番号の確認
          </div>
        </li>

        <li class="r__nav__list__item">
          <div class="r__nav__list__item__name">
            ログアウト
          </div>
        </li>

      </ul>

    </nav>
  </div>
</div>


<aside class="r__banner"></aside>
<footer class="r__footer"></footer>


