.brand__bread{
  height: 49px;
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: #ffffff;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  ul{
    height:100%;
    width:1020px;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    li{
      display: inline-block;
      padding-left:3px;
      font-size: 0.85rem;
      .brand__fa-angle-right{
        color:#888;
        padding-left:3px;
        display: inline-block;
      }
    }
  }
}
.brand__main{
  margin-top:5px;
  background-color:whitesmoke;
  padding-top:40px;
  padding-bottom:40px;
  .brand__item{
    width: 700px;
    margin: 0 auto;
    background-color:#f5f5f5;
    .brand__item-box{
      background-color: white;
      width:100%;
      box-sizing: border-box;
      .brand__h2{
        font-size:22px;
        font-weight: bold;
        background-color:whitesmoke;
      }
      &__titles{
        background-color:whitesmoke;
        padding-bottom: 30px;
        &__title{
          height:40px;
          padding: 0 30px;
          margin:5px;
          background-color:#ffffff;
          display: inline-block;
          line-height:40px;
          border-radius: 4px;
          box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
          text-decoration: none;
          div{
            text-decoration: none;
            color:#000000;
          }
        }
        &__title:hover{
          background-color:#ea352d;
          div{
            color:#ffffff;
          }
        }
      }
    }
  }
}
.brand__initial{
  background-color:whitesmoke;
  padding-bottom: 30px;
  &__word{
    display: inline-block;
    margin: 5px 0;
    height:14px;
    line-height:20px;
    text-decoration: none;
    width: 30px;
    text-align: center;
    border-right: solid 1px black;
    font-size: 0.9rem;
    div{
      color:#0099e8;
    }
  }
  &__word:hover{
    cursor: pointer;
    div{
      color: #b3d4fc;
      text-decoration: underline;
    }
  }
}
.brand__list{
  display: block;
  &__brand{
    display: block;
    &__name{
      background-color: red;
      color: #ffffff;
      font-weight: bold;
      padding: 7px 30px 0 30px;
      font-size: 22px;
      height: 33px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &__name__initial{
      padding: 10px 0px 10px 30px;
      background-color: whitesmoke;;
      text-decoration: none;
      height:14px;
      font-size: 0.8rem;
      font-weight: bold;
    }
    &__name__detail{
      display: block;
      padding: 10px 50px;
      background-color:#ffffff;
      &__details{
        &__item{
          padding: 0 20px 7px 0;
          width: 46%;
          color: #0099e8;
          display: inline-block;
        }
        &__item:hover{
          color: #b3d4fc;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
