<div class="sell-content clearfix">
<h3 class="sell-sub-head">商品の詳細</h3>
<div class="sell-form-box">
<div class="form-group">
<label>
<!-- react-text: 48 -->カテゴリー<!-- /react-text -->
<span class="form-require">必須</span>
</label>
<div>
<div class="select-wrap">
<select class="select-default">
<option value="">---</option>
<option value="1">レディース</option
><option value="2">メンズ</option>
<option value="3">ベビー・キッズ</option>
<option value="4">インテリア・住まい・小物</option>
<option value="5">本・音楽・ゲーム</option>
<option value="1328">おもちゃ・ホビー・グッズ</option>
<option value="6">コスメ・香水・美容</option>
<option value="7">家電・スマホ・カメラ</option>
<option value="8">スポーツ・レジャー</option>
<option value="9">ハンドメイド</option>
<option value="1027">チケット</option>
<option value="1318">自動車・オートバイ</option>
<option value="10">その他</option>
</select>
<i class="icon-arrow-bottom"></i>
</div>
<div class="select-wrap">
<select class="select-default">
<option value="">---</option>
<option value="11">トップス</option>
<option value="12">ジャケット/アウター</option>
<option value="13">パンツ</option>
<option value="14">スカート</option>
<option value="15">ワンピース</option>
<option value="16">靴</option>
<option value="17">ルームウェア/パジャマ</option>
<option value="18">レッグウェア</option>
<option value="19">帽子</option>
<option value="20">バッグ</option>
<option value="21">アクセサリー</option>
<option value="22">ヘアアクセサリー</option>
<option value="23">小物</option>
<option value="24">時計</option>
<option value="25">ウィッグ/エクステ</option>
<option value="26">浴衣/水着</option>
<option value="27">スーツ/フォーマル/ドレス</option>
<option value="28">マタニティ</option>
<option value="29">その他</option>
</select>
<i class="icon-arrow-bottom"></i>
</div>
<div class="select-wrap">
<select class="select-default">
<option value="">---</option>
<option value="119">Tシャツ/カットソー(半袖/袖なし)</option>
<option value="120">Tシャツ/カットソー(七分/長袖)</option>
<option value="121">シャツ/ブラウス(半袖/袖なし)</option>
<option value="122">シャツ/ブラウス(七分/長袖)</option>
<option value="123">ポロシャツ</option>
<option value="124">キャミソール</option>
<option value="125">タンクトップ</option>
<option value="126">ホルターネック</option>
<option value="127">ニット/セーター</option>
<option value="128">チュニック</option>
<option value="129">カーディガン/ボレロ</option>
<option value="130">アンサンブル</option>
<option value="131">ベスト/ジレ</option>
<option value="132">パーカー</option>
<option value="133">トレーナー/スウェット</option>
<option value="134">ベアトップ/チューブトップ</option>
<option value="135">ジャージ</option>
<option value="136">その他</option>
</select>
<i class="icon-arrow-bottom"></i>
</div>
</div>
<!-- react-empty: 55 -->
</div>
<div class="form-group">
<label><!-- react-text: 260 -->サイズ<!-- /react-text -->
<span class="form-require">必須</span>
</label>
<div class="select-wrap">
<select class="select-default">
<option value="">---</option>
<option value="153">XXS以下</option>
<option value="154">XS(SS)</option>
<option value="2">S</option>
<option value="3">M</option>
<option value="4">L</option>
<option value="5">XL(LL)</option>
<option value="155">2XL(3L)</option>
<option value="156">3XL(4L)</option>
<option value="157">4XL(5L)以上</option>
<option value="7">FREE SIZE</option>
</select>
<i class="icon-arrow-bottom">
</i>
</div>
<!-- react-empty: 276 -->
</div>
<div class="form-group form-suggest-container">
<label>
<!-- react-text: 279 -->ブランド<!-- /react-text -->
<span class="form-arbitrary">任意</span>
</label
><div>
<input class="input-default" value="" placeholder="例）シャネル">
<div>
</div>
</div><!-- react-empty: 284 -->
</div>
<div class="form-group">
<label><!-- react-text: 58 -->商品の状態<!-- /react-text -->
<span class="form-require">必須</span>
</label>
<div class="select-wrap">
<select class="select-default">
<option value="">---</option>
<option value="1">新品、未使用</option>
<option value="2">未使用に近い</option>
<option value="3">目立った傷や汚れなし</option>
<option value="4">やや傷や汚れあり</option>
<option value="5">傷や汚れあり</option>
<option value="6">全体的に状態が悪い</option>
</select>
<i class="icon-arrow-bottom"></i>
</div>
<!-- react-empty: 64 -->
</div>
</div>
</div>