.items-index {
  background-color: $white;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  &__js-slider {
    padding-top: 10px;
    width: 100%;
    @media screen and (min-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    height: 200px;
    }
    @media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    height: 290px;
    }
    @media screen and (min-width:1024px) {
    // /*　画面サイズが1024pxからはここを読み込む　*/
    height: 390px;
    }
    &__list {
      &__image {
        margin: 0 auto;
        width: 100%;
        @media screen and (min-width:480px) {
        height: 200px;
        }
        @media screen and (min-width:768px) and ( max-width:1024px) {
        height: 290px;
        }
        @media screen and (min-width:1024px) {
        height: 390px;
        }
      }
    }

  }
      &__container {
        padding: 40px 0;
        background: $light-gray;
        height: 100%;

        &__header {
          text-align: center;
          font-size: 22px;
          font-weight: 550;
          line-height: 1.4;
          letter-spacing: 5px;
          @media screen and (min-width:768px) {
            font-size: 28px;
          }
          &__description {
            margin: 24px;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: normal;
          }
        }
          &__list {
            margin: 0 auto;
            margin-top: 30px;

            display: block;
            overflow: hidden;
            @media screen and (min-width:480px) and (min-width:768px) {
            height: 2100px;
            width: 98%;
            }
            @media screen and (min-width:768px) and ( max-width:1024px) {
            width: 700px;
            height: 1400px;
            }
            @media screen and (min-width:1024px) {
            width: 940px;
            height: 1400px;
            }
            &__genre {
              text-align: center;
              font-size: 18px;
              font-weight: 550;
              line-height: 1.4;
              letter-spacing: 5px;
              color: #0099e8;
              margin-bottom: 20px;
              @media screen and (min-width:768px) {
                font-size: 24px;
              }
              &__description {
                margin: 24px;
                font-size: 14px;
                font-weight: normal;
                letter-spacing: normal;
              }
            }
            &__box {

              @media screen and (min-width:480px) {
              background-color: $white;
              margin: 0 0 20px 20px;
              height: 330px;
              width: 213px;
              position: relative;
              float: left;
              }
              @media screen and (min-width:768px) {
              background-color: $white;
              width: 213px;
              height: 330px;
              margin: 0 0 20px 20px;
              position: relative;
              float: left;
              }
              &__group {
                width: 100%;
                height: 100%;
                display:block;
                text-decoration: none;
                color: #000	;

                &__img {
                  height: 220px;
                  width: 213px;
                }
                &__info {
                  padding: 16px;

                  &__title {
                    overflow: hidden;
                    position: relative;
                    font-weight: 400;
                    font-size: 14px;
                    height: 3em;
                    line-height: 1.5;
                    word-break: break-word;
                    white-space: normal;
                  }

                  &__block {
                    margin-top: 8px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    justify-content: space-between;

                    &__price {
                      font-size: 14px;
                      font-weight: 550;
                    }
                    &__likes {
                      font-size: 14px;
                      font-weight: 400;
                      color: $black;
                    }
                  }

                  &__tax {
                    font-size: 10px;
                  }
                }
              }
            }
          }
          &__alllink {
            padding: 20px 0 30px;
            width: 100%;
            text-align: center;
          }

          &__sale-btn {
            background-color: $main-red;
            color: $white;

            font-size: 22px;
            text-align: center;
            display: block;
            text-decoration: none;
            border-radius: 50%;
            position: fixed;
            bottom:  32px;
            right:  32px;
            z-index: 10;
            @media screen and (min-width:480px) {
            width: 80px;
            height: 80px;
            }
            @media screen and (min-width:768px) {
            /*　画面サイズが768pxからはここを読み込む　*/
            width: 160px;
            height: 160px;
            }

          &__text {
            @media screen and (min-width:480px) {
              padding-top: 16px;
              font-size: 16px;
            }
            @media screen and (min-width:768px) {
            padding-top: 32px;
            font-size: 22px;
            }
          }
          &__icon {
            @media screen and (min-width:480px) {
              font-size: 27px;
              margin-top: 2px;
            }
            @media screen and (min-width:768px) {
            font-size: 54px;
            margin-top: 2px;
            }

          }
      }
    }
  }
