.s__ExhibitionPage__MainBox{
  width:700px;
  height: 100%;
  background: rgb(255, 255, 255);
// overflow:hidden;

  margin: 0 auto;
  box-sizing:boder-box;
// タイトル
  .s__MainBox__Title {
    width: 668px;
    min-height: 33px;
     text-align: center;
     line-height: 33px;
     padding: 32px 16px;
    //  border-top: 2px solid rgb(245, 245, 245);


}
  .Title{
  font-size: 22px;
  font-weight: bold;
  padding: 32px 16;
}

  }
  .s__MainBoxform__Content {
    height:100%;
  }

    .s__ContentImage {
      width: 620px;
      min-height: 223px;
      height: auto;
      padding: 40px;
    border-top: 2px solid rgb(245, 245, 245);
  }
  .s__ContentImage__Image{
    width: 620px;
    height: 162px;
    margin: 20px, 0 20px;
    background: rgb(245, 245, 245);
  //   display: flex;
  // flex-direction: row;
  }
  .image__box{
    height: auto;
  }
  .image__box__list{
    overflow: hidden;
    position: relative;
    background: rgb(245, 245, 245);
  }
  .image__box__list2{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
  }
  .img_view{
    margin: 0 0 10px 10px;
    width: 114px;
    height: 160px;
  float: left;
  }
  .up__image{
    width: 114px;
    height: 125px;
  }
  .btn_wrapper{
    display: inline;
    clear: both;
  }
.btn_edit{
display: inline;
float: left;
padding: 10px;
}
.btn_delete{
  display: inline;
  float: right;
  padding: 10px;
}



#item_images_attributes_0_image_url{
  height: 162px;
  width:  620px;

}
#item_images_attributes_1_image_url{
  height: 162px;
  width:  491px;
  display: none;
  float: right;
}
#item_images_attributes_2_image_url{
  height: 162px;
  width:  363px;
  display: none;
  float: right;
}
#item_images_attributes_3_image_url{
  height: 162px;
  width:  234px;
  display: none;
  float: right;
}
#item_images_attributes_4_image_url{
  height: 162px;
  width:  106px;
  display: none;
  float: right;
}
#item_images_attributes_5_image_url{
  height: 162px;
  width:  620px;
  background: rgb(245, 245, 245);
  display: none;
}
#item_images_attributes_6_image_url{
  height: 162px;
  width:  491px;
  background: rgb(245, 245, 245);
  display: none;
  float: right;
}
#item_images_attributes_7_image_url{
  height: 162px;
  width:  363px;
  background: rgb(245, 245, 245);
  display: none;
  float: right;
}
#item_images_attributes_8_image_url{
  height: 162px;
  width:  234px;
  background: rgb(245, 245, 245);
  display: none;
  float: right;
}
#item_images_attributes_9_image_url{
  height: 162px;
  width:  106px;
  background: rgb(245, 245, 245);
  display: none;
  float: right;
}




  .s__ContentImage__Title{
    font-size: 16px;
    font-weight: bold;
  }
  .saidai10{
    padding: 10px 0;
  }


    .s__Content__Name__Description {
      width: 620px;
      height: 274px;
      padding: 40px;
      background: rgb(255, 255, 255);
    border-top: 2px solid rgb(245, 245, 245);
    }
// .box2__Name{
//     border: 1px solid #ccc;
//     width: 586px;
//     height: 28px;
//     padding: 10px 16 8;
//     margin-top: 8px;
// }

    .box2font{
font-weight: bold;

    }
    .s__Content__Nametittle{
    border: 1px solid #ccc;
    width: 586px;
    height: 30px;
    padding: 10px 16 8;
    margin-top: 8px;
    }

    
.s__Content__Description{
  width: 620px;
  height: 164px;
  margin-top: 40px;
}

.s__contemt__text{
  width: 598px;
  height: 120px;
  border: 1px solid #ccc;
  margin-top: 8px;
  padding: 10px;
}
// box3
 .s__Exhibition__Details {
  width: 620px;
  min-height: 261px;
  padding: 40px;
  background: rgb(255, 255, 255);
  border-top: 2px solid rgb(245, 245, 245);
  display: block;
 }
 .box3__itemfont1{

 }

.Exhibition__box{
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
 

.s__Details__Configuration{
  height: auto;
  width: 400px;
  background: rgb(255, 255, 255);
  font-weight: bold;
  display: inline-block;
  padding-left: 50px;
}
  .s__Details__Size{
    margin: 40px 0 0 0 ;
    // display:flex;
    // display:none
  }
  .s__Details__State{
    margin: 40px 0 0 0 ;
  }
#item_large_class_id{
  display:block;
   width: 400px;
    height: 48px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 8px;
    display:flex;
}
#item_middle_class_id{
   width: 400px;
    height: 48px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 8px;
    display:flex;
    display:none;
}
#item_category_id{
   width: 400px;
    height: 48px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 8px;
    display:flex;
    display:none;
}
#Details__Size{
  display:block;
  width: 400px;
   height: 48px;
   background: rgb(255, 255, 255);
   margin-top: 8px;
   display:flex;
   display:none
}


#item_size_id{
  display:block;
  width: 400px;
   height: 48px;
   background: rgb(255, 255, 255);
   border: 1px solid #ccc;
   margin-top: 8px;
   display:flex;
}


#item_condition_id{
  display:block;
   width: 400px;
    height: 48px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 8px;
}

.box3__itemfont1{
  font-weight: bold;
  color: #888;
    font-size: 14px;
  }
    .s__Content__delivery {
      width: 620px;
      min-height: 290px;
      padding: 40px;
      background: rgb(255, 255, 255);
      border-top: 2px solid rgb(245, 245, 245);
      display: block;
      display: flex;
      justify-content:space-between
    }
.s__delivery__LeftContent{
  display: inline-block;
  // height: 100%;
}

      .box4__itemfont{
        font-weight: bold;
        color: #888;
          font-size: 14px;
      }


      .s__delivery__RightContent{
        display: inline-block;
        padding-left: 50px;
        width: 400px;
        // min-height: 290px;
        height: auto;
        background: rgb(255, 255, 255);
        font-weight: bold;
      }

      .s__delivery__Description{
      }
      .s__delivery__Configuration{
      margin: 40px 0 0 0 ;
      }
      .s__delivery__Configuration{
      margin: 40px 0 0 0 ;
      }
      .s__delivery__Configuration{
      margin: 40px 0 0 0 ;
      }

#item_shipping_fee_payer_id{
  display:block;
  width: 400px;
  height: 48px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  margin-top: 8px;
  }
#item_shipping_day_id{
  display:block;
   width: 400px;
    height: 48px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    margin-top: 8px;
  }
  #delivery__Configuration{
    display:block;
     width: 400px;
      height: 48px;
      background: rgb(255, 255, 255);
      margin-top: 8px;
      display:flex;
      display:none
    }
    #item_prefecture_id{
      display:block;
      width: 400px;
       height: 48px;
       background: rgb(255, 255, 255);
       border: 1px solid #ccc;
       margin-top: 8px;
       display:flex;

    }
  #item_delivery_way_id{
    display:block;
     width: 400px;
      height: 48px;
      background: rgb(255, 255, 255);
      border: 1px solid #ccc;
      margin-top: 8px;
      display:flex;
    }


// <%# 価格　BOX5 %>
    .s__Content__Price {
      width: 620px;
      height: 300px;
      padding: 40px;
    background: rgb(255, 255, 255);
    border-top: 2px solid rgb(245, 245, 245);}
    .box5__itemfont1{
      font-weight: bold;
      color: #888;
        font-size: 14px;
    }
    .box5__itemfont2{
      font-weight: bold;
     
    }




.s__Price__light{
align-content:flex-end;
float: right;
clear: both;
width: 65%;
height: 70%;

.s__Price__box{
  width: 100%;
  height: 80px;
  // display: block;
  display: flex;
  justify-content: space-between;
padding-top: 23px;
padding: 0px 0 24;
border-bottom: 1.5px solid rgb(204, 204, 204);
// background-color: #AFEEEE;
}


// .clearfix::after {
//   content: "";
//   display: block;
//   clear: both;
// }
.s__Price__title{
  width: 200px;
  height: 48px;
  display: inline-block;

}
.s__Price__Configuration{
  width: 126px;
  height: 28px;
  padding: 10px 16px 8px;
  display: inline-block;
}

.inputPrice{
width: 126px;
height: 28px;
padding: 10 16 8px ;

}

// .s__Price__FeeProfit{
//   width: 100%;
//   height: 400px;
// background-color: green;
// justify-content:flex-end;
// }

.s__Price__Fee{
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(204, 204, 204);
    margin-top: 25px;
}
.s__Price__Profit{
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

}



    // }
// <%# 規約　BOX6 %>
.s__Content__Terms {
  width: 625px;
  height: 248px;
  padding: 40px;
  border-top: 2px solid rgb(245, 245, 245);}
      // background: red;
.s__submit{
  width: 620px;
   height: 50px;
   background: #ea352d;
   color: #ffffff;
   margin: 40px, 0, 0;
   display: block;
   cursor: pointer; 

}



.btn__back1{
width: 279px;
height: 50px;
margin: 25px auto 0;
text-align: center;
line-height: 50px;
background: #aaaaaa;
}

.modoru {
  text-decoration: none !important;
  color: #ffffff;
  display: block;
  cursor: pointer; 
}



// .btn__back2{
//   width: 100%;
//   height: 100%;
//   background: #aaaaaa;
//   color: #ffffff
//   }

.hissu{
margin: 0 0 0 8px;
padding: 2px 4px;
border-radius: 2px;
color: #fff;
font-size: 12px;
vertical-align: top;
background: #ea352d;
margin-left: 5px;
    }

.collection_select{
  display:block;
  width: 400px;
   height: 48px;
   background: rgb(255, 255, 255);
   border: 1px solid #ccc;
   margin-top: 8px;
}
