
.product__bread{
  height: 49px;
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: $white;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  ul{
    height:100%;
    width:1020px;
    padding: 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
    li{
      display: inline-block;
      padding-left:3px;
      font-size: 0.85rem;
      .product__fa-angle-right{
        color:#888;
        padding-left:3px;
        display: inline-block;
      }
    }
  }
}
.product__main{
  margin-top:5px;
  background-color:whitesmoke;
  padding-top:40px;
  padding-bottom:40px;
  .product__item{
    width: 700px;
    margin: 0 auto;
    background-color:#f5f5f5;
    .product__item-box{
      background-color: $white;
      width:100%;
      padding: 24px 40px 40px 40px;
      box-sizing: border-box;
      .product__h1{
        font-size:24px;
        text-align: center;
        font-weight: bold;
      }
      &__main{
        width:100%;
        padding-top: 16px;
        display: block;
        &__left{
          float: left;
          width: 300px;
          min-height: 360px;
          &__bigpic{
            height:300px;
            width: 300px;
            background-color: blue;
            margin: 0 auto;
            text-align: left;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            ul{
              top: 0;
              left: 0;
              height: 300px;
              position: absolute;
              overflow: hidden;
              li{
                width: 300px;
                height: 300px;
                float: left;
                overflow: hidden;
              }
            }
          }
          &__below{
            height: 60px;
            width: 300px;
            margin: 0 auto;
            text-align: center;
            ul{
              width: 300px;
              height: 60px;
              li{
                width: 60px;
                height: 60px;
                object-fit: contain;
                float: left;
                cursor: pointer;
                display: inline;
                overflow: hidden;
              }
            }
            &__pics{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            &__pics2{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            &__pics3{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            &__pics4{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            &__pics5{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
          }
        }
        &__right{
          float: right;
          max-width: 300px;
          height: 420px;
          margin: 0 auto;
          &__table{
            .product__tbody {
              .product__tr{
                font-size: 0.9rem;
                border: solid 1px #f5f5f5;
                .product__th{
                  padding:9px;
                  min-width:120px;
                  border: solid 1px #f5f5f5;
                  background-color:#e7e5e5;
                  text-decoration: none;
                }
                .product__td{
                  padding:9px;
                  min-width: 150px;
                  border: solid 1px #f5f5f5;
                  &__link{
                    cursor: pointer;
                  }
                  a {
                    text-decoration: none;
                    color: #0099e8;}
                  a:hover {
                    text-decoration: underline;
                    opacity:0.7;
                  }
                }
              }
            }
          }
        }
      }
      &__price{
        padding-top: 24px;
        clear:both;
        text-align: center;
        &__amount{
          font-size:2.5rem;
          font-weight: bold;
        }
        &__withtax{
          font-size: 0.5rem;
        }
        &__shipcost{
          padding: 10px;
          font-size: 1.0rem;
        }
      }
      &__buybox{
        width: 100%;
        background-color: $main-red;
        height:60px;
        color: $white;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        line-height: 60px;
        margin-top: 16px;
        &__link {
          text-decoration: none;
          color: $white;
        }
      }
      &__buybox--ng{
        width: 100%;
        background-color: gray;
        height:60px;
        color: $white;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        line-height: 60px;
        margin-top: 16px;

      }
      &__desc{
        padding-top: 32px;
      }
      &__button{
        padding-top: 16px;
        margin-bottom: 32px;
        &__left{
          float:left;
          &__like{
            background-color:#f5f5f5;
            float:left;
            padding: 8px 16px;
            border-radius: 20px;
            font-size:0.8rem;
            color: #333;
            #product__fa-heart{
              display:inline-block;
            }
            &__word{
              display:inline-block;

            }
          }
          &__like:hover{
            cursor: pointer;
          }
          &__report{
            background-color:#f5f5f5;
            float:left;
            margin-left: 16px;
            padding: 8px 16px;
            border-radius: 20px;
            font-size:0.8rem;
            color: #333;
            #product__fa-flag{
              display:inline-block;
            }
            &__word{
              display:inline-block;
            }
          }
          &__report:hover {
            background-color:#f7f5f5;
            color: gray;
            float:left;
            margin-left: 16px;
            padding: 8px 16px;
            border-radius: 20px;
            cursor: pointer;
          }
        }
        &__right{
          float:right;
          padding: 8px 16px;
          color: #0099e8;
          #product__fa-lock{
            font-size: 0.9rem;
            float:left;
            padding-right:5px;
            padding-top: 3px;
          }
          &__safe{
            font-size: 0.9rem;
            float:right;
          }
        }
        &__right:hover{
          color: #b3d4fc;
          cursor: pointer;
        }
      }
    }
    .product__item-comment{
      background-color:$white;
      padding: 24px;
      box-sizing: border-box;
      margin-top: 8px;
      .product__item-comment__comments{
        width: 100%;
        .product__item-comment__comments__all{
          width: 100%;
          .product__item-comment__comments__all__each{
            clear:both;
            .product__item-comment__comments__all__each__left{
              float:left;
              width:40px;
              height:40px;
              background-color: #a84c4c;
              margin-top: 15px;
            }
            .product__item-comment__comments__all__each__right{
              width: 600px;
              float: left;
              margin: 15px 0 10px 10px;
              .product__item-comment__comments__all__each__right__name{
                font-weight: bold;
                font-size: 0.8rem;
                padding-bottom: 5px;
              }
              .product__item-comment__comments__all__each__right__text{
                font-size:0.8rem;
                border: solid 1px #eef0f4;
                background-color:#eef0f4;
                width:100%;
                border-radius: 15px;
                line-height: 1.5;
                padding: 16px;
                box-sizing: border-box;
              }
              .product__item-comment__comments__all__each__right__time{
                font-size:0.5rem;
                float:right;
              }
            }
          }
        }
      }
      &__form{
        clear:both;
        padding-top: 30px;
        .product__p{
          background-color: #fff6de;
          font-size: 0.8rem;
          padding: 5px;
        }
        .product__textarea{
          margin-top: 8px;
          width: 100%;
          min-height: 104px;
          padding:10px;
          box-sizing: border-box;
        }
        .product__button{
          height: 50px;
          width: 100%;
          background-color:#aaa;
          color:$white;
          font-size: 0.9rem;
        }
      }
    }
    .product__item-link{
      width:100%;
      height: 60px;
      &__pre{
        float: left;
        padding-top:10px;
        color: #0099e8;
        overflow: hidden;
        width: 45%;
      }
      &__pre:hover{
        color: #b3d4fc;
        text-decoration: underline;
      }
      &__next{
        float: right;
        padding-top:10px;
        color: #0099e8;
        overflow: hidden;
        width: 45%;
        text-align: right;
      }
      &__next:hover{
        color: #b3d4fc;
        text-decoration: underline;
      }
    }
    .product__item__sns{
      background-color:$white;
      height:95px;
      width:100%;
      padding-top:55px;
      margin-bottom: 24px;
      &__main{
        height:40px;
        width:100%;
        padding: 0 auto;
        &__box{
          margin: 0 auto;
          height:40px;
          width:90px;
          &__fb{
            height: 40px;
            width: 40px;
            background-color: #385185;
            display: block;
            float: left;
            border-radius: 5px;
            #product__fa-facebook-square{
              color:$white;
              padding-top: 4px;
              padding-left:6px;
            }
          }
          &__fb:hover{
            background-color: #6176a5;
          }
          &__tw{
            height: 40px;
            width: 40px;
            background-color: #5d9dc9;
            display: block;
            border-radius: 5px;
            float: left;
            margin-left: 10px;
            #product__fa-twitter{
              color: $white;
              padding-top: 4px;
              padding-left:5px;
            }
          }
          &__tw:hover{
            background-color: #8bc1e6;
          }
        }
      }
    }
  }
  .product__add{
    width: 700px;
    margin: 0 auto;
    background-color:#f5f5f5;
    &__items{
      width:100%;
      &__title{
        color:#0099e8;
        font-size:24px;
        margin: 24px 0 8px;
        font-weight: bold;
      }
      &__contents{
        display: block;
        &__content{
          width:220px;
          display: inline-block;
          background-color:$white;
          margin: 0 4.9px 20px 4.9px;
          &__a{
            text-decoration: none;
            color:#000000;
            &__top{}
            &__bottom{
              height:110px;
              padding:16px;
              font-size: 0.9rem;
              &__name{
                overflow: hidden;
                font-size:0.9rem;
                height:48px;
              }
              &__info{
                margin-top:20px;
                &__price{
                  font-weight: bold;
                  float:left;
                }
                &__like{
                  float:right;
                  #product__fa-heart__add{}
                  &__num{
                    font-size:0.9rem;
                  }
                }
              }
              &__tax{
                font-size:0.5rem;
                clear:both;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
