
.k__top{
  height: 100px;
  width:100%;
  background-color: gray
}
.k__bread{
  height: 49px;
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: #ffffff;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  ul{
    height:100%;
    padding: 10px 26px;;
    box-sizing: border-box;
    li{
      display: inline-block;
      padding-left:3px;
      font-size: 0.85rem;
      .k__fa-angle-right{
        color:#888;
        padding-left:3px;
        display: inline-block;
      }
    }
  }
}
.k__main{
  margin-top:5px;
  background-color:whitesmoke;
  padding-top:40px;
  padding-bottom:40px;
  .k__item{
    width: 700px;
    margin: 0 auto;
    background-color:#f5f5f5;

    .k__item-box{
      background-color: white;
      width:100%;
      padding: 24px 40px 40px 40px;
      box-sizing: border-box;
      .k__h1{
        font-size:24px;
        text-align: center;
        font-weight: bold;
      }
      .k__item-box__main{
        width:100%;
        padding-top: 16px;
        display: block;
        .k__item-box__main__left{
          float: left;
          width: 300px;
          min-height: 360px;
          .k__item-box__main__left__bigpic{
            height:300px;
            width: 300px;
            background-color: blue;
            margin: 0 auto;
            text-align: left;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            ul{
              top: 0;
              left: 0;
              height: 300px;
              position: absolute;
              overflow: hidden;
              li{
                width: 300px;
                height: 300px;
                float: left;
                overflow: hidden;
              }
            }
          }
          .k__item-box__main__left__below{
            height: 60px;
            width: 300px;
            margin: 0 auto;
            text-align: center;
            ul{
              width: 300px;
              height: 60px;
              li{
                width: 60px;
                height: 60px;
                float: left;
                cursor: pointer;
                display: inline;
              }
            }
            .k__item-box__main__left__below__pics{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            .k__item-box__main__left__below__pics2{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            .k__item-box__main__left__below__pics3{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            .k__item-box__main__left__below__pics4{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
            .k__item-box__main__left__below__pics5{
              height: 60px;
              width: 60px;
              float:left;
              background-color:black;
            }
          }
        }
        .k__item-box__main__right{
          float: right;
          max-width: 300px;
          height: 420px;
          margin: 0 auto;
          .k__item-box__main__right__table{
            .k__tbody {
              .k__tr{
                font-size: 0.9rem;
                border: solid 1px #f5f5f5;
                .k__th{
                  padding:9px;
                  min-width:120px;
                  border: solid 1px #f5f5f5;
                  background-color:#e7e5e5;
                }
                .k__td{
                  padding:9px;
                  min-width: 150px;
                  border: solid 1px #f5f5f5;
                  text-decoration: none;

                }
              }
            }
          }
        }
      }
      .k__item-box__price{
        padding-top: 24px;
        clear:both;
        text-align: center;
        .k__item-box__price__amount{
          font-size:2.5rem;
          font-weight: bold;
        }
        .k__item-box__price__withtax{
          font-size: 0.5rem;
        }
        .k__item-box__price__shipcost{
          padding: 10px;
          font-size: 1.0rem;


        }
      }
      .k__item-box__buybox{
        width: 100%;
        background-color: red;
        height:60px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        line-height: 60px;
        margin-top: 16px;
      }
      .k__item-box__buybox_ng{
        width: 100%;
        background-color: gray;
        height:60px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        line-height: 60px;
        margin-top: 16px;

      }
      .k__item-box__desc{
        padding-top: 32px;
      }
      .k__item-box__button{
        padding-top: 16px;
        margin-bottom: 32px;
        .k__item-box__button__left{
          float:left;
          
          .k__item-box__button__like{
            background-color:#f5f5f5;
            float:left;
            margin-left: 16px;
            padding: 8px 16px;
            border-radius: 20px;
            font-size:0.9rem;
            .item-box__button__like_word{}
          }
          .k__item-box__button__report{
            background-color:#f5f5f5;
            float:left;
            margin-left: 16px;
            padding: 8px 16px;
            border-radius: 20px;
            font-size:0.9rem;
            .item-box__button__report__word{}
          }
          .k__item-box__button__report:hover {
            background-color:#f7f5f5;
            color: gray;
            float:left;
            margin-left: 16px;
            padding: 8px 16px;
            border-radius: 20px;
          }
        }
        .k__item-box__button__right{
          float:right;
          padding: 8px 16px;
          color: #0099e8;
          #k__fa-lock{
            font-size: 0.9rem;
            float:left;
            padding-right:5px;
            padding-top: 3px;
          }
          .k__item-box__button__safe{
            font-size: 0.9rem;
            float:right;
          }
        }
        .k__item-box__button__right:hover{
          color: #b3d4fc;
        }
      }
    }
    .k__item-comment{
      background-color:#ffffff;
      padding: 24px 40px 24px 40px;
      box-sizing: border-box;
      margin-top: 8px;
      .k__item-comment__form{
        .k__p{
          background-color: #f6f88e;
          font-size: 0.8rem;
          padding: 5px;
        }
        .k__textarea{
          margin-top: 8px;
          width: 100%;
          min-height: 130px;
        }
        .k__button{
          height: 60px;
          width: 100%;
          background-color:gray;
          color:white;
          font-size: 1.1rem;
        }
      }
    }
    .k__item-link{
      width:100%;
      height: 50px;
      .k__item-link__pre{
        float: left;
        padding-top:10px;
        color: #0099e8;
      }
      .k__item-link__pre:hover{
        color: #b3d4fc;
        text-decoration: underline;
      }
      .k__item-link__next{
        float: right;
        padding-top:10px;
        color: #0099e8;
      }
      .k__item-link__next:hover{
        color: #b3d4fc;
        text-decoration: underline;
      }
    }
    .k__item__sns{
      background-color:#ffffff;
      height:95px;
      width:100%;
      padding-top:55px;
      .k__item__sns__main{
        height:40px;
        width:100%;
        padding: 0 auto;
        .k__item__sns__main__box{
          margin: 0 auto;
          height:40px;
          width:90px;
          .k__item__sns__main__box__fb{
            height: 40px;
            width: 40px;
            background-color: #385185;
            display: block;
            float: left;
            border-radius: 5px;
            #k__fa-facebook-square{
              color:#ffffff;
              padding-top: 4px;
              padding-left:6px;
            }
          }
          .k__item__sns__main__box__fb:hover{
            background-color: #6176a5;
          }
          .k__item__sns__main__box__tw{
            height: 40px;
            width: 40px;
            background-color: #5d9dc9;
            display: block;
            border-radius: 5px;
            float: left;
            margin-left: 10px;
            #k__fa-twitter{
              color: #ffffff;
              padding-top: 4px;
              padding-left:5px;
            }
          }
          .k__item__sns__main__box__tw:hover{
            background-color: #8bc1e6;
          }
        }
      }
    }
  }
}

.k__banner{
  clear: both;
  width: 100%;
  height:260px;
  background-color: gray;
}
.k__footer{
  width: 100%;
  height:381px;
  padding: 0 20px 10px 20px;
  background-color: black;
  color: white;
}
