<div class="index__wrapper">
  <div class = "brand__bread">
    <ul>
      <li>
        <a href="http://localhost:3000/items"><span>メルカリ</span></a>
        <i class="fas fa-angle-right" id = "brand__fa-angle-right"></i>
      </li>
      <li>
        <a href="http://localhost:3000/items/category"><span>ブランド一覧</span></a>
        <i class="fas fa-angle-right" id = "brand__fa-angle-right"></i>
      </li>
    </ul>
  </div>

  <main class = "brand__main">
    <div class = "brand__item">
      <div class = "brand__item-box">
        <h2 class = "brand__h2">ブランド一覧</h2>
        <div class = "brand__item-box__titles" >  
          <a href = "" class = "brand__item-box__titles__title" ><div>レディース</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>メンズ</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>ベビー・キッズ</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>インテリア・住まい・小物</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>キッチン・食器</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>時計</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>コスメ・香水・美容</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>テレビゲーム</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>スポーツ・レジャー</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>スマートフォン・携帯電話</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>バイク</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>楽器</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>自動車パーツ</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>食品</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>国内自動車本体</div></a>
          <a href = "" class = "brand__item-box__titles__title"><div>海外自動車本体</div></a>
        </div>
      </div>
      <div class="category__initial"> 
        <a href = "" class = "brand__initial__word" id = "initial_a"><div>ア</div></a>
          <script>
            $("#initial_a").click(function(){
              var position = $("#brand_a").offset().top;
                $("html,body").animate({
                    scrollTop : position
                }, {
                    queue : false
                });
            });
          </script>
        <a href = "" class = "brand__initial__word" ><div>イ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ウ</div></a>
        <a href = "" class = "brand__initial__word" ><div>エ</div></a>
        <a href = "" class = "brand__initial__word" ><div>オ</div></a>
        <a href = "" class = "brand__initial__word" ><div>カ</div></a>
        <a href = "" class = "brand__initial__word" ><div>キ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ク</div></a>
        <a href = "" class = "brand__initial__word" ><div>ケ</div></a>
        <a href = "" class = "brand__initial__word" ><div>コ</div></a>
        <a href = "" class = "brand__initial__word" ><div>サ</div></a>
        <a href = "" class = "brand__initial__word" ><div>シ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ス</div></a>
        <a href = "" class = "brand__initial__word" ><div>セ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ソ</div></a>
        <a href = "" class = "brand__initial__word" ><div>タ</div></a>
        <a href = "" class = "brand__initial__word" ><div>チ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ツ</div></a>
        <a href = "" class = "brand__initial__word" ><div>テ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ト</div></a>
        <a href = "" class = "brand__initial__word" ><div>ナ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ニ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ヌ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ネ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ノ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ハ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ヒ</div></a>
        <a href = "" class = "brand__initial__word" ><div>フ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ワ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ヲ</div></a>
        <a href = "" class = "brand__initial__word" ><div>ン</div></a>
        <a href = "" class = "brand__initial__word" ><div>1</div></a>
        <a href = "" class = "brand__initial__word" ><div>2</div></a>
        <a href = "" class = "brand__initial__word" ><div>3</div></a>
        <a href = "" class = "brand__initial__word" ><div>4</div></a>
        <a href = "" class = "brand__initial__word" ><div>5</div></a>
        <a href = "" class = "brand__initial__word" ><div>6</div></a>
        <a href = "" class = "brand__initial__word" ><div>7</div></a>
        <a href = "" class = "brand__initial__word" ><div>8</div></a>
        <a href = "" class = "brand__initial__word" ><div>9</div></a>
        <a href = "" class = "brand__initial__word" ><div>0</div></a>


      </div>
      <div class = "brand__list">
        <div class = "brand__list__brand">
          <div class = "brand__list__brand__name"> 
            レディース
          </div>
          <div class = "brand__list__brand__name__detail__initial" id = "brand_a"> 
            ア
          </div>
          <div class = "brand__list__brand__name__detail"> 
            <div class = "brand__list__brand__name__detail__details"> 
              <div class = "brand__list__brand__name__detail__details__item">すべて</div>
              <div class = "brand__list__brand__name__detail__details__item">スカート</div>
              <div class = "brand__list__brand__name__detail__details__item">Tシャツ</div>
              <div class = "brand__list__brand__name__detail__details__item">ポロシャツ</div>
              <div class = "brand__list__brand__name__detail__details__item">キャミソール</div>
              <div class = "brand__list__brand__name__detail__details__item">ニット・セーター</div>
              <div class = "brand__list__brand__name__detail__details__item">ジャージ</div>
              <div class = "brand__list__brand__name__detail__details__item">パーカー</div>
              <div class = "brand__list__brand__name__detail__details__item">その他</div>
            </div>
          </div>
          <div class = "brand__list__brand__name__detail__initial"> 
            イ
          </div>
          <div class = "brand__list__brand__name__detail"> 
            <div class = "brand__list__brand__name__detail__details"> 
              <div class = "brand__list__brand__name__detail__details__item">ミニスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">膝丈スカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ロングスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ワンピース</div>
              <div class = "brand__list__brand__name__detail__details__item">その他</div>
            </div>
          </div>
          <div class = "brand__list__brand__name__detail__initial"> 
            ウ
          </div>
          <div class = "brand__list__brand__name__detail"> 
            <div class = "brand__list__brand__name__detail__details"> 
              <div class = "brand__list__brand__name__detail__details__item">ミニスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">膝丈スカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ロングスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ワンピース</div>
              <div class = "brand__list__brand__name__detail__details__item">その他</div>
            </div>
          </div>
          <div class = "brand__list__brand__name__detail__initial"> 
            エ
          </div>
          <div class = "brand__list__brand__name__detail"> 
            <div class = "brand__list__brand__name__detail__details"> 
              <div class = "brand__list__brand__name__detail__details__item">ミニスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">膝丈スカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ロングスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ワンピース</div>
              <div class = "brand__list__brand__name__detail__details__item">その他</div>
            </div>
          </div>
          <div class = "brand__list__brand__name__detail__initial"> 
            オ
          </div>
          <div class = "brand__list__brand__name__detail"> 
            <div class = "brand__list__brand__name__detail__details"> 
              <div class = "brand__list__brand__name__detail__details__item">ミニスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">膝丈スカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ロングスカート</div>
              <div class = "brand__list__brand__name__detail__details__item">ワンピース</div>
              <div class = "brand__list__brand__name__detail__details__item">その他</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%= link_to new_item_path, class: "sale-btn" do %>
      <div class="sale-btn-text">出品</div>
      <i class="fa fa-camera-retro"></i>
    <% end %>
</div>