.index__wrapper
  .category__bread
    %ul
      %li
        %a{:href => "http://localhost:3000/items"}
          %span メルカリ
        %i#category__fa-angle-right.fas.fa-angle-right
      %li
        %a{:href => "http://localhost:3000/items/category"}
          %span カテゴリー一覧
        %i#category__fa-angle-right.fas.fa-angle-right
  %main.category__main
    .category__item
      .category__item-box
        %h2.category__h2 カテゴリー一覧
        .category__item-box__titles
          %a#title_ladies.category__item-box__titles__title{:href => ""}
            %div レディース
          :javascript
            $("#title_ladies").click(function(){
              var position = $("#category_ladies").offset().top;
                $("html,body").animate({
                    scrollTop : position
                }, {
                    queue : false
                });
            });
          %a#title_mens.category__item-box__titles__title{:href => ""}
            %div メンズ
          :javascript
            $("#title_mens").click(function(){
              var position = $("#category_mens").offset().top;
                $("html,body").animate({
                    scrollTop : position
                }, {
                    queue : false
                });
            });
          %a.category__item-box__titles__title{:href => ""}
            %div ベビー・キッズ
          %a.category__item-box__titles__title{:href => ""}
            %div インテリア・住まい・小物
          %a.category__item-box__titles__title{:href => ""}
            %div 本・音楽・ゲーム
          %a.category__item-box__titles__title{:href => ""}
            %div おもちゃ・ホビー・グッズ
          %a.category__item-box__titles__title{:href => ""}
            %div コスメ・香水・美容
          %a.category__item-box__titles__title{:href => ""}
            %div 家電・スマホ・カメラ
          %a.category__item-box__titles__title{:href => ""}
            %div スポーツ・レジャー
          %a.category__item-box__titles__title{:href => ""}
            %div ハンドメイド
          %a.category__item-box__titles__title{:href => ""}
            %div チケット
          %a.category__item-box__titles__title{:href => ""}
            %div 自動車・オートバイ
          %a.category__item-box__titles__title{:href => ""}
            %div その他
      .category__list
        .category__list__category
          #category_ladies.category__list__category__name
            レディース
          .category__list__category__name__detail
            .category__list__category__name__detail__all
              すべて
            .category__list__category__name__detail__janre
              トップス
            .category__list__category__name__detail__details
              .category__list__category__name__detail__details__item すべて
              .category__list__category__name__detail__details__item スカート
              .category__list__category__name__detail__details__item Tシャツ
              .category__list__category__name__detail__details__item ポロシャツ
              .category__list__category__name__detail__details__item キャミソール
              .category__list__category__name__detail__details__item ニット・セーター
              .category__list__category__name__detail__details__item ジャージ
              .category__list__category__name__detail__details__item パーカー
              .category__list__category__name__detail__details__item その他
            .category__list__category__name__detail__janre
              スカート
            .category__list__category__name__detail__details
              .category__list__category__name__detail__details__item ミニスカート
              .category__list__category__name__detail__details__item 膝丈スカート
              .category__list__category__name__detail__details__item ロングスカート
              .category__list__category__name__detail__details__item ワンピース
              .category__list__category__name__detail__details__item その他
        .category__list__category
          #category_mens.category__list__category__name
            メンズ
          .category__list__category__name__detail
            .category__list__category__name__detail__all
              すべて
            .category__list__category__name__detail__janre
              トップス
            .category__list__category__name__detail__details
              .category__list__category__name__detail__details__item すべて
              .category__list__category__name__detail__details__item タンクトップ
              .category__list__category__name__detail__details__item Tシャツ
              .category__list__category__name__detail__details__item ポロシャツ
              .category__list__category__name__detail__details__item パーカー
              .category__list__category__name__detail__details__item ニット・セーター
              .category__list__category__name__detail__details__item ジャージ
              .category__list__category__name__detail__details__item パーカー
              .category__list__category__name__detail__details__item その他
            .category__list__category__name__detail__janre
              パンツ
            .category__list__category__name__detail__details
              .category__list__category__name__detail__details__item デニム
              .category__list__category__name__detail__details__item チノパン
              .category__list__category__name__detail__details__item スラックス
              .category__list__category__name__detail__details__item オーバーオール
              .category__list__category__name__detail__details__item その他
  = link_to new_item_path, class: "sale-btn" do
    .sale-btn-text 出品
    %i.fa.fa-camera-retro
