<div class="index__wrapper">
  <div class = "k__bread">
    <ul>
      <li>
        <a href="http://localhost:3000/items"><span>メルカリ</span></a>
        <i class="fas fa-angle-right" id = "k__fa-angle-right"></i>
      </li>
      <li>
        <a href="http://localhost:3000/items/category"><span>カテゴリー一覧</span></a>
        <i class="fas fa-angle-right" id = "k__fa-angle-right"></i>
      </li>
    </ul>
  </div>

  <main class = "k__main">
    <div class = "k__item">
      <div class = "category__item-box">
        <h2 class = "category__h2">カテゴリー一覧</h2>
        <div class = "category__item-box__titles" >  
          <a href = "" class = "category__item-box__titles__title" ><div>レディース</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>メンズ</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>ベビー・キッズ</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>インテリア・住まい・小物</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>本・音楽・ゲーム</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>おもちゃ・ホビー・グッズ</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>コスメ・香水・美容</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>家電・スマホ・カメラ</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>スポーツ・レジャー</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>ハンドメイド</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>チケット</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>自動車・オートバイ</div></a>
          <a href = "" class = "category__item-box__titles__title"><div>その他</div></a>
        </div>
      </div>
      <div class = "category__list">
        <div class = "category__list__category">
          <div class = "category__list__category__name"> 
            レディース
          </div>
          <div class = "category__list__category__name__detail"> 
            <div class = "category__list__category__name__detail__all"> 
              すべて
            </div>
            <div class = "category__list__category__name__detail__janre"> 
              トップス
            </div>
            <div class = "category__list__category__name__detail__details"> 
              <div class = "category__list__category__name__detail__details__item">すべて</div>
              <div class = "category__list__category__name__detail__details__item">スカート</div>
              <div class = "category__list__category__name__detail__details__item">Tシャツ</div>
              <div class = "category__list__category__name__detail__details__item">ポロシャツ</div>
              <div class = "category__list__category__name__detail__details__item">キャミソール</div>
              <div class = "category__list__category__name__detail__details__item">ニット・セーター</div>
              <div class = "category__list__category__name__detail__details__item">ジャージ</div>
              <div class = "category__list__category__name__detail__details__item">パーカー</div>
              <div class = "category__list__category__name__detail__details__item">その他</div>
            </div>
            <div class = "category__list__category__name__detail__janre"> 
              スカート
            </div>
            <div class = "category__list__category__name__detail__details"> 
              <div class = "category__list__category__name__detail__details__item">ミニスカート</div>
              <div class = "category__list__category__name__detail__details__item">膝丈スカート</div>
              <div class = "category__list__category__name__detail__details__item">ロングスカート</div>
              <div class = "category__list__category__name__detail__details__item">ワンピース</div>
              <div class = "category__list__category__name__detail__details__item">その他</div>
            </div>
          </div>
        </div>
        <div class = "category__list__category">
          <div class = "category__list__category__name"> 
            メンズ
          </div>
          <div class = "category__list__category__name__detail"> 
            <div class = "category__list__category__name__detail__all"> 
              すべて
            </div>
            <div class = "category__list__category__name__detail__janre"> 
              トップス
            </div>
            <div class = "category__list__category__name__detail__details"> 
              <div class = "category__list__category__name__detail__details__item">すべて</div>
              <div class = "category__list__category__name__detail__details__item">タンクトップ</div>
              <div class = "category__list__category__name__detail__details__item">Tシャツ</div>
              <div class = "category__list__category__name__detail__details__item">ポロシャツ</div>
              <div class = "category__list__category__name__detail__details__item">パーカー</div>
              <div class = "category__list__category__name__detail__details__item">ニット・セーター</div>
              <div class = "category__list__category__name__detail__details__item">ジャージ</div>
              <div class = "category__list__category__name__detail__details__item">パーカー</div>
              <div class = "category__list__category__name__detail__details__item">その他</div>
            </div>
            <div class = "category__list__category__name__detail__janre"> 
              パンツ
            </div>
            <div class = "category__list__category__name__detail__details"> 
              <div class = "category__list__category__name__detail__details__item">デニム</div>
              <div class = "category__list__category__name__detail__details__item">チノパン</div>
              <div class = "category__list__category__name__detail__details__item">スラックス</div>
              <div class = "category__list__category__name__detail__details__item">オーバーオール</div>
              <div class = "category__list__category__name__detail__details__item">その他</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%= link_to new_item_path, class: "sale-btn" do %>
      <div class="sale-btn-text">出品</div>
      <i class="fa fa-camera-retro"></i>
    <% end %>
</div>