<div class="individual__header">
  <h1>mercari</h1>
</div>

<section class="main__individual">
  <section class="individual__page">

    <h2 class="check__buy--header">購入内容の確認</h2>

    <section class="buy__item">
      <div class="buy__item--inner">
        <h3 class="buy__item--image"><%= image_tag 'item.jpg',class: "buy__item--imageurl" %></h3>
        <p class="buy__item--name">タイ産ゴルフバッグ</p>

        <!-- ここに購入した情報を保存するフォームを作成する -->
        <div class="test__form">
          <p class="buy__item--price">¥ 200000<span class="buy__item--tax">送料込み</span></p>
          <div class="buy__item--point">
            <p>ポイントはありません</p>
          </div>
          <div class="buy__item--payment">
            <ul class="payment__group">
              <li class="payment__group--text">支払い金額</li>
              <li class="payment__group--price">¥ 200000</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="user__info--add">

    </section>

    <section class="user__info--payment">

    </section>

  </section>
</section>

<footer class="individual__footer">
  <h3>フッター</h3>
</footer>