<body>

  <div class="Exhibition__page">

  <header class="Exhbition_header">
  <h1>
  <a href="https://www.mercari.com/jp/">
  <%= image_tag('Exhibition_page_logo.svg',class: 'logo')%>
  </a>
  </h1>
  </header class="Exhbition_header">

<main class= "Exhbition__main">
<div class=main__box>

<div class="title"> #タイトル
  <h2>
  商品の情報を入力
  </h2>
</div>

<div class="boxes">#メインコンテンツ

<div class="box1">出品画像</div> #出品画像

<div class="box2"> ＃商品名 ・説明
<form action="cgi-bin/abc.cgi" method="post">
<p>商品名</p>
<input type="text" name="namae" size="40" maxlength="20"></label></p>
<p>商品の説明</p>
<input type="text" name="namae" size="40" maxlength="20"></label></p>
</form>
</div>

<div class="box3">
<div class="aaa">
<p>商品の詳細</p>
</div>


<div　class="s__left__details__box">

  <div class="s__category">
  <span　style="text-align: right">カテゴリー</span>
  <div class="s__category__small">
    <select class="s__category__box1 s__box3__size"></select>
    <select class="s__category__box2 s__box3__size"></select>
    <select class="s__category__box3 s__box3__size"></select>
  </div>

  </div>


  <div class="s__size">
  <span>サイズ</span>
    <select class="s__size__box  s__box3__size"></select>
  </div>


  <div class="s__brand">
  </span>ブランド</span>
    <select class="s__brand__box  s__box3__size"></select>
  </div>


  <div class="s__details">
  <span>商品の状態</span>
    <select class="s__details__box  s__box3__size"></select>
  </div>

</div>

</div>



<div class="box4__delivery">配送について?
<P>配送料の負担</P>
<select class="delivery s__box4__size"  name="line_list">
  <option selected="selected" class="msg">---</option>
  <option class="souryoukomi">送料込み(出品者負担)</option>
  <option class="souryoukomi">着払い(購入者負担)</option>
</select>
 <P>配送の方法</P>
<select class="mainselect s__box4__size " name="line_list">
  <option selected="selected" class="msg">---</option>
  <option class=""></option>
  <option class=""></option>
</select>
 <P>発送元の地域</P>
<select class="mainselect s__box4__size " name="line_list">
  <option selected="selected" class="msg">---</option>
  <option class=""></option>
  <option class=""></option>
</select>
<P>発送までの日数</P>
<select class="mainselect s__box4__size " name="line_list">
  <option selected="selected" class="msg">---</option>
  <option class=""></option>
  <option class=""></option>
</select>
</div>

<div class="box5">販売価格(300〜9,999,999)
<input type="number" id="price">
<output type="number" id="fee">0</output>
<output type="number" id="profit">0</output>
</div>


<div class="box6">
禁止されている出品、行為を必ずご確認ください。<br> 
またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。<br> 
また、出品をもちまして加盟店規約に同意したことになります。<br> 
<br> 
<p>
<button class="btn_Exhibition" type="submit">出品する</button>
</p>
<br> 
<p>
<button class="btn_Exhibition_back" type="submit",onclick="history.back()">もどる</button>
</p>
</div>


</div>

</div class=main_box>
</main class= "Exhbition_main">



<footer class="Exhbition_footer">


<ul class="footer-lists">
<li class=list1>
<a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
</li>
<li class=list2>
<a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
</li>
<li class=list3>
<a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
</li>
</ul>

<a><%= image_tag('Exhibition_page_logo-gray.svg',class: 'logo-gray')%></a>
<p>
<small>© 2019 Mercari</small>
</p>

</footer class="Exhbition_footer">

</body>