 <div class="s__ExhibitionPage__MainBox">
      <%# タイトル %>
      <div class="s__MainBox__Title">
        <h2 class="Title">商品の情報を入力</h2>
      </div>
      <%# メインコンテンツ %>
      <%# フォームタグに変更 %>
      <form class="s__MainBoxform__Content">

        <%# 画像投稿 BOX1%>
        <div class="s__ContentImage">
          <div class="s__ContentImage__Title">出品画像<span class="hissu">必須</span></div>
          <p class="saidai10">最大10枚までアップロードできます</p>
          <div class="s__ContentImage__Image">
            <input type="image">
  ドラッグアンドドロップ<bl>またはクリックしてファイルををアップロード
    </input>
          </div>
        </div>

        <%# 商品名・説明 BOX2%>
        <div class="s__Content__Name__Description" >
          <!-- 商品名 -->
          <div class="s__Content__Name">
            <label for="" class="box2font">商品名 </label><span class="hissu">必須</span>
            <div class="">
              <input type="text" class="s__Content__Nametittle" name="" value="" placeholder=" 商品名（必須 40文字まで)"  class="s__contemt__nametittle">
            </div>
          </div>
          <!-- 商品の説明 -->
          <div class="s__Content__Description">
            <label for="" class=box2font>商品の説明</label><span class="hissu">必須</span>
            <textarea name="name" rows="8" cols="80"class="s__contemt__text" placeholder="商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"></textarea>
          </div>

        </div>


        <%# 商品の詳細 BOX3%>
        <div class="s__Exhibition__Details">
          <%# 左 %>
          <h2 class="box3__itemfont1">商品の詳細</h2>
          <%# 右 %>
          <div class="s__Details__Configuration">
            <%# カテゴリ %>
            <div class="s__Details__Category1">
              <label for="" class="box3__itemfont2">カテゴリー</label><span class="hissu">必須</span>
              <div class="">
                <select class="s__box3" name="">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="s__Details__Category2">
              <label for=""></label>
              <div class="">
                <select class="s__box3" name="">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="s__Details__Category3">
              <label for=""></label>
              <div class="">
                <select class="s__box3" name="">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <%# サイズ %>
            <div class="s__Details__Size">
              <label for="" class="box3__itemfont2">サイズ</label><span class="hissu">必須</span>
              <div class="">
                <select class="s__box3" name="">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>

            <%# 商品の状態 %>
            <div class="s__Details__State">
              <label for="" class="box3__itemfont2">商品の状態</label><span class="hissu">必須</span>
              <div class="">
                <select class="s__box3" name="">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <%# 配送について BOX4%>
        <div class="s__Content__delivery">
        <div class="s__delivery__LeftContent">
          <h2 class="box4__itemfont">配送について
          <%= link_to '?', new_item_path, class: "btn-large" %></h2>
          </div>
          
          <%# 右 %>
        <div class="s__delivery__RightContent">

          <div class="s__delivery__Description">
            <label for="">配送料の負担</label><span class="hissu">必須</span>
            <div class="">
              <select class="s__box4" name="">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>


          <div class="s__delivery__Configuration">
            <label for="">配送の方法</label><span class="hissu">必須</span>
            <div class="">
              <select class="s__box4" name="">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>

          <div class="s__delivery__Configuration">
            <label for="">発送元の地域</label><span class="hissu">必須</span>
            <div class="">
              <select class="s__box4" name="">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>

          <div class="s__delivery__Configuration ">
            <label for="">発送までの日数</label><span class="hissu">必須</span>
            <div class="">
              <select class="s__box4" name="">
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        </div>

        <%# 価格　BOX5 %>
        <div class="s__Content__Price">

          <h2 class="box5__itemfont1">販売価格(300〜9,999,999)</h2>
          <%# 右 %>
           <div class="s__Price__light">
             <div class="s__Price__box">
              <div class="s__Price__title">
                <label for=""class="box5__itemfont2">価格 </label><span class="hissu">必須</span>
              </div>
              <div class="s__Price__Configuration">
                <input type="number" id="price" class="inputPrice">
              </div>
            </div

            <div　class="s__Price__FeeProfit">
              <div class="s__Price__Fee">
                <label for="">販売手数料 (10%) </label>
                <output type="number" id="fee">0</output>
              </div>
              <div class="s__Price__Profit">
                <label for=""class="box5__itemfont2">販売利益 </label>
                <output type="number" id="profit">0</output>
              </div>
            </div>
            <%# </div> これ消すとズレ治る %>

          </div>




        <%# 規約　BOX6 %>
        <div class="s__Content__Terms">
          <p>禁止されている出品、行為を必ずご確認ください.
            <br>
またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。<br>
また、出品をもちまして加盟店規約に同意したことになります。
          <br>
          <br>
          </p>
          <div >
            <input type="submit" value="出品する" class="s__submit">
          </div>
          <div class="btn__back1">
      <%= link_to 'もどる', new_item_path, class: "modoru" %>
      </div>
        </div>
      </form>
      <%# 出品 %>
    </div>