.product-header {
  margin-top: 8px;
  width: 100vw;
  height: 90px;
  background-color:#fff;

  &__container {
    margin: 0 auto;
    height: 100%;
    width: 1020px;
    @media screen and (max-width: 1024px) {
      width: 700px;
    }
    // ここから上部
    &__upper {
      width: 100%;
      height: 40px;

      &__logo {
        float: left;
        width: 134px;
        height: 100%;
      }

      &__search {
        float: right;
        width: 870px;
        height: 100%;
        text-align: center;
        @media screen and (max-width: 1024px) {
          width: 550px;
        }
      }
    }

    // ここから下部
    &__under {
      width: 100%;
      height: 38px;
      margin-top: 12px;
      &__nav {
        float: left;
        height: 100%;

        &__category {
          float: left;
          height: 100%;
          padding-top: 6px;
          font-size: 14px;

          &__link {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            line-height: 32px;
            text-decoration: none;
            letter-spacing: 2px;
            @media screen and (max-width:680px) {
            font-size: 10px;
            letter-spacing: 0;
            }

            &:hover {
              color: #0099e8;
	           }
          }
        }
        &__brand {
          margin-left: 16px;
          float: left;
          height: 100%;
          padding-top: 6px;
          font-size: 14px;
          letter-spacing: 2px;
          &__link {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            text-decoration: none;
            line-height: 32px;
            @media screen and (max-width:680px) {
            font-size: 10px;
            letter-spacing: 0;
            }
            .fa_icon {
              color: red;
            }
            &:hover {
              color: #0099e8;
	          }
          }
        }
      }
// ログイン中のヘッダーリンクSCSS
      &__user {
        float: right;
        height: 44px;

        &__logging-in {
          list-style: none;

          &__list {
            display: inline-block;
            padding-left: 14px;

            &__link {
              display: block;
              height: 44px;
              line-height: 32px;
              text-decoration: none;
              color: #333;
              font-size: 13px;
              letter-spacing: 0.1em;
              font-weight: 500;
              // position:relative;
              &:hover {
                opacity: 0.8;
                color: #0099e8;
              }
              .fa {
                color: #ccc;
                font-size: 18px;
              }
              &__img {
                border-radius: 50px;
              }
            }
          }
        }

        &__signup {
            text-decoration: none;
            margin-right: 11px;
            border: 1px solid #ea352d;
            color: #fff;
            background-color: #ea352d;
            padding: 8px 16px;
            border-radius: 5px;
            font-size: 14px;
            &:hover {
              opacity: 0.9;
	           }
          }
        &__login {
          text-decoration: none;
          border: 1px solid #0099e8;
          padding: 8px 10px;
          font-size: 14px;
          border-radius: 5px;
          color: #0099e8;
          transition: 0.8s ;
          &:hover {
            transition: 0.8s ;
            background-color: #0099e8;
            color: #fff;
           }
        }
      }
    }


  }
}

// フッターバナー
.banner {
  background: image-url('dan.jpg');
  background-position: center;
  background-size: cover;
  height: 260px;
  width: 100vw;
  @media screen and (min-width:480px) and ( max-width:768px) {
    display:none;
  }

  &__inner {

        &__block {
          display: block;
          overflow: hidden;
          position: relative;
          width: 750px;
          height: 260px;
          margin: 0 auto;

          &__icon {
            height: 166px;
            width: 420px;
            position: absolute;
            top: 40px;
            left: 16px;
            h2 {
              font-size: 24px;
              font-weight: bold;
              color: #FF0033;
              text-shadow:2px 2px 2px #fff;
            }
          p {
            font-size: 35px;
            font-weight: bold;
            color: #FFA500;
            text-shadow:2px 2px 2px #fff;
          }
          &__logo {
            margin-top: 20px;
            &__main {
              float: left;
              border-radius: 10px;
            }
            &__link {
              float: left;
              margin-left: 24px;
              list-style: none;
              &__a {
                border-radius: 10px;
                &:hover {
                  opacity: 0.7;
                }
              }
              &__b {
                border-radius: 10px;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }

    &__image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      &__app {
        height: 260px;
      }
    }
  }
}


// フッター
.items-footer {
  padding: 0 13px 10px 13px;
  background: #212121;
  color: #fff;
  width: 98%;
  height: 680px;
  @media screen and (min-width:1024px) {
    width: 99%;
    height: 380px;
  }
  &__nav {
    margin: 0 auto;
    @media screen and (min-width:1024px) {
      width: 1020px;
      height: 380px;
    }
    &__block {
      display: block;
      float: left;
      margin-top: 18px;
      @media screen and (min-width:480px) and ( max-width:768px) {
        padding-right: 60px;
      }
      @media screen and (min-width:1024px) {
        padding-right: 40px;
        width: 20%;
      }
      &__title {
        font-size: 16px;
        font-weight: 100;
        color: #fff;
      }
      &__group {
        &__link {
          display: block;
          margin-top: 16px;
          color: #fff;
          opacity: .7;
          font-size: 12px;
          text-decoration: none;
        }
        &__icon {
          color: #fff;
          line-height: 1.5em;
          text-decoration: none;
        }
      }
      &__inner {

        &__group {

          &__link {
            display: block;
            margin-top: 16px;
            color: #fff;
            opacity: .7;
            font-size: 12px;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__bottom {

    @media screen and (min-width:1024px) {
      width: 1020px;
      margin: 30px auto 20px;
      &__logo {

      }
    }
  }
}

// 検索バー
.header__search {

  height:36px;
  text-align: left;
  display: flex;
  @media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    height: 40px;
  }
  &__text {
    background-color: #F5F5F5;
    width: 50vw;
    margin-left: 30px;
    padding-left: 8px;
    border-radius: 5px 0 0 5px;
  }
  &__button {
    background-color: #666666;
    width: 40px;
    text-align:center;
    line-height: 40px;
    color: white;
    border-radius: 0 5px 5px 0;
    .hidden__button {
      display: none;
    }
  }
}
