// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.Exhbition_header{
  position: relative;
  background: rgb(245, 245, 245);
  width: 100%;
  height: 128px;
}

.logo{
  width: 185px;
  height: 49px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.Exhbition_main{
  width: 100%;
  height: 2016px;
  background: rgb(245, 245, 245);
  position: relative;
}
.main_box{
  position: absolute;
  width: 700px;
  height: 2016px;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  background: rgb(255, 255, 255);
  padding: 0px,40px;
}
.h2{
  width: 700px;
  height: 97px;
  text-align: center;
  border-bottom: 3px solid rgb(245, 245, 245);
}

.boxes{
  width: 700px;
  height: 1919px;
}
.box1{
  width: 700px;
  height: 303px;
  border-bottom: 3px solid rgb(245, 245, 245);
  // padding: 40px;
}
.box2{
  width: 700px;
  height: 355px;
  border-bottom: 3px solid rgb(245, 245, 245);
  // padding: 40px;
}
.box3{
  width: 700px;
  height: 261px;
  border-bottom: 3px solid rgb(245, 245, 245);
  // padding: 40px;
}
.box4{
  width: 700px;
  height: 371px;
  border-bottom: 3px solid rgb(245, 245, 245);
  // padding: 40px;
}
.box5{
  width: 700px;
  height: 229px;
  border-bottom: 3px solid rgb(245, 245, 245);
  // padding: 40px;
}
.box6{
  width: 700px;
  height: 329px;
  // padding: 40px;
}


.Exhbition_footer{
  width: 100%;
  height: 250px;
  background: rgb(245, 245, 245);
  text-align: center;
}
.footer-lists{
  
  width:456px;
  height: 12px;
  font-size: 12px;
  color: #333333;
}
.list1{
  
  float: left;
  height: 12px;
}
.list2{
  
  float: left;
  height: 12px;
}
.list3{
  
  float: left;
  height: 12px;
}

.logo-gray{
  width: 80px;
  height: 65px;
  text-align: center;
}

.btn_Exhibition{
  width: 620px;
  height: 50px;
  background: #ea352d;
  color: #ffffff;
  margin: 40px, 0, 0;
}

.btn_Exhibition_back{
  width: 279px;
  height: 50px;
  background: #aaaaaa;
  color: #ffffff

}


.k__top{
  height: 100px;
  width:100%;
  background-color: gray
}
.k__bread{
  height: 49px;
  width: 100%;
  background-color: black;
}
.k__item-left{
  width: 17%;
  height: 100vh;
  background-color:#f5f5f5;
  float: left;
}
.k__item{
  width: 66%;
  height: auto;
  background-color:#f5f5f5;
  float: left;

  .k__item-box{
    margin-top: 40px;
    background-color: white;
    width:100%;
    padding: 24px 40px 40px 40px;
    box-sizing: border-box;
    .k__h1{
      font-size:24px;
      text-align: center;
      font-weight: bold;
    }
    .k__item-box__main{
      width:100%;
      padding-top: 16px;
      display: block;
      .k__item-box__main__left{
        float: left;
        width: 300px;
        min-height: 360px;
        .k__item-box__main__left__bigpic{
          height:300px;
          width: 300px;
          background-color: blue;
          margin: 0 auto;
        }
        .k__item-box__main__left__smallpics{
          height: 60px;
          width: 300px;
          margin: 0 auto;
        }
      }
      .k__item-box__main__right{
        float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        .k__item-box__main__right__table{
          .k__tbody {
            .k__tr{
              font-size: 0.9rem;
              border: solid 1px #f5f5f5;
              .k__th{
                padding:9px;
                min-width:120px;
                border: solid 1px #f5f5f5;
                background-color:#e7e5e5;
              }
              .k__td{
                padding:9px;
                min-width: 120px;
                border: solid 1px #f5f5f5;
                text-decoration: none;

              }
            }
          }
        }
      }
    }
    .k__item-box__price{
      padding-top: 24px;
      clear:both;
      text-align: center;
      .k__item-box__price__amount{
        font-size:2.5rem;
        font-weight: bold;
      }
      .k__item-box__price__withtax{
        font-size: 0.5rem;
      }
      .k__item-box__price__shipcost{
        padding: 10px;
        font-size: 1.0rem;


      }
    }
    .k__item-box__buybox{
      width: 100%;
      background-color: red;
      height:60px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem;
      line-height: 60px;
      margin-top: 16px;
    }
    .k__item-box__buybox_ng{
      width: 100%;
      background-color: gray;
      height:60px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem;
      line-height: 60px;
      margin-top: 16px;

    }
    .k__item-box__desc{
      padding-top: 32px;
    }
    .k__item-box__button{
      padding-top: 16px;
      margin-bottom: 32px;
      .k__item-box__button__left{
        float:left;
        
        .k__item-box__button__like{
          background-color:#f5f5f5;
          float:left;
          margin-left: 16px;
          padding: 8px 16px;
          border-radius: 20px;
          .item-box__button__like_word{}
        }
        .k__item-box__button__report{
          background-color:#f5f5f5;
          float:left;
          margin-left: 16px;
          padding: 8px 16px;
          border-radius: 20px;
          .item-box__button__report__word{}
        }
      }
      .k__item-box__button__right{
        float:right;
        padding: 8px 16px;
        .k__item-box__button__safe{
          color: blue;
        }
      }
    }
  }
  .k__item-comment{
    background-color:#ffffff;
    padding: 24px 40px 24px 40px;
    box-sizing: border-box;
    margin-top: 8px;
    .k__item-comment__form{
      .k__p{
        background-color: yellow;
        font-size: 0.8rem;
        padding: 5px;
      }
      .k__textarea{
        margin-top: 8px;
        width: 100%;
        min-height: 150px;
      }
      .k__button{
        height: 60px;
        width: 100%;
        background-color:gray;
        color:white;
      }
    }
  }
  .k__item-link{
    width:100%;
    height: 50px;
    .k__item-link__pre{
      float: left;
      padding-top:10px;
    }
    .k__item-link__next{
      float: right;
      padding-top:10px;
    }
  }
  .k__item__sns{
    background-color:#ffffff;
    height:150px;
    width:100%;
    padding-top: 50px;
    .k__item__sns__main{
      height:100px;
      width:100%;
      display: inline-block;
      .k__item__sns__main__fb{
        height: 40px;
        width: 40px;
        background-color: blue;
        float: left;
        display: inline-block;
      }
      .k__item__sns__main__tw{
        height: 40px;
        width: 40px;
        background-color: green;
        float:right;
        display: inline-block;
      }
    }
  }
}
.k__item-right{
  width: 17%;
  height:800px;
  background-color:#f5f5f5;
  float: left;

}

.k__banner{
  clear: both;
  width: 100%;
  height:260px;
  background-color: gray;
}
.k__footer{
  width: 100%;
  height:381px;
  padding: 0 20px 10px 20px;
  background-color: black;
  color: white;
}
