.error-container {
margin: 0 auto;
text-align: center;
width: 100%;
display: block;

}

.l-container {
  padding: 0 0 40px;
}

.error404 {
  padding: 80px 160px;
  background: #fff;
}

.error-image {
  width: 380px;
}
