.nav {
  height: 1252px;
  width: 280px;
  margin-right: 40px;
  .nav__list__item {
    background-color: white;
    outline: solid 0.4px #F4F4F4;
    height: 48px;
    &__content {
      display: flex;
      justify-content: space-between;
      width: 248px;
      height:16px;
      padding: 16px;
      font-size: 14px; 
      &__arrow{
        color: #F4F4F4;
      }
    }
  }
  .active {
    background-color: #EEEEEE;
    font-weight: bold;
    .nav__list__item__content__arrow{
      color: black;
    }
  }
  .nav__head {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
  }
}

.banner {
  background-color: grey;
  height: 260px;
}

.footer {
  background-color: black;
  height: 391px;
}

