.header__line {
  min-width: 768px;
  &__nav {
    height: 128px;
    text-align: center;
    display: block;
    &__left {
      margin: 40px 0 0;
      display: inline-block;
    }
    &__href {
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;
      &__logo {
        width: 185px;
        height: 49px;
        vertical-align: middle;
      }
    }
    &__right {
      display: inline-block;
      padding: 40px 0 0 44px;
      vertical-align: top;
      text-align: center;
    }
      .progress__active {
        display: inline-block;
        margin: 0 40px 0 0;
        font-size: 12px;
        position: relative;
        font-weight: 600;
        color: #ea352d;
      }
      .progress__none {
        display: inline-block;
        margin: 0 40px 0 0;
        font-size: 12px;
        position: relative;
        color: #888;
      }
      .progress__status {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
        &__line {
          height: 2px;
          background: #ccc;
      }
    }
  }
}