

.registration__main {
  display: block;
  &__container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
  }
  &__head {
    padding: 32px 16px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
  }
  &__form {
    border-top: 1px solid #f5f5f5;
    padding: 40px 16px;
    color: rgb(51, 51, 51);
  }
}

.user__form__content {
  max-width: 320px;
  margin: 0 auto;
  display: block;
  &__group {
    cursor: auto;
  }
}

label[for='user__title'] {
  display: inline-block;
  font-weight: 600;
}

.user__form__require {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: #ea352d;
  &__b {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background: #888;
  }
}

.user__form__group {
  margin: 40px 0 0;
}

.user__form__group:first-child {
  margin: 0;
}

.user__form__input {
  width: 100%;
  margin: 8px 0 0;
  height: 28px;
  padding: 10px 0px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.field {
  margin: 20px 0 0;
}

.user__field {
  width: 100%;
  margin: 8px 0 0;
  height: 28px;
  padding: 10px 0px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.user__title__text {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  &__inline {
    line-height: 1.5;
    margin-top: 8px;
  }
}

.user__form__birthday {
  display: block;
  &__select {
    display: inline-block;
    width: 76px;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
  }
}

.user__select__default {
  padding: 0 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &__arrow {
  }
}


.user__form__infomation {
  margin: 8px 0 0;
  line-height: 1.5;
  color: #888;
  text-align: center;
}


.user__form__botton {
  display: block;
  margin: 40px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.user__form__other {
  text-align: right;
  line-height: 1.5;
  &__info {
    color: #0099e8 !important;
    text-decoration: none;
  }
}

.user__text__decoration {
  color: #0099e8 !important;
  text-decoration: none;
}

.d__fa__select {
  font-family: "FontAwesome", "home";
  font-size: 14px;
}





// ここからphone.html.erb

.registration__main__head__sub {
  font-size: 24px;
  padding: 8px 24px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

// ここからcomplete.html.erb
.user__complete__space {
  padding: 40px 24px;
}

.user__complete__text {
  line-height: 1.5;
  text-align: center;
}

// ここからpurchase.html.erb
.user__form__expiration {
  display: block;
  &__select {
    display: inline-block;
    width: 100px;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
  }
  &__name {
      display: inline-block;
      position: absolute;
  }
}

.user__form__other__b {
  line-height: 1.5;
  &__info {
    color: #0099e8 !important;
    text-decoration: none;
  }
}

.user__recap {
  display: none;
}


////////ログアウト
.logout {
  color: white !important;
  text-decoration: none;
}

.sns_1 {
  text-decoration: none;
  color: white;
}

.sns {
  text-decoration: none;
  color: black;
}