body {
  background-color: #F4F4F4;
}

.mypage__container {
  display: flex;
  flex-direction: row;
  margin: 40px auto 40px;
  width: 1020px;
}

.mypage__main {
  width: 700px;
  height: 100%;
  flex-shrink: 0;
  margin: 0 auto;
  .mypage__user {
    background-image: image-url("mypage_background.jpg");
    .mypage__user__info {
      height: 110px;
      padding: 44.5px 0 44.5px;
      &__icon {
        text-align: center;
        height: 60px;
        margin: 0;
        img {
          border-radius: 50%;
        }
      }
      &__name {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        height: 19px;
        margin-top: 8px;
      }
      &__number {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 14px;
        height: 16px;
        margin-top: 8px;
        .bold {
          font-weight: bold;
          margin: 0 8px 0;
        }
      }
    }
  }
  .tab__content {
    background-color: white;
    .mypage__info {
      height: 80px;
      &__body {
        display: flex;
        flex-direction: row;
        outline: solid 0.4px #F4F4F4;
        height: 48px;
        padding: 16px;
        &__content {
          margin-left: 12px;
          font-size: 14px;
          &__time {
            color: #888888;
          }
        }
      }
    }
    .mypage__go__list {
      height: 88px;
      &__body {
        background-color: #EEEEEE;
        background-clip: content-box;
        outline: solid 0.4px #F4F4F4;
        height: 56px;
        padding: 16px;
        text-align: center;
        line-height: 56px;
      }
    }
  }
  .mypage__tabs__head {
    background-color: #FAFAFA;
    height: 72px;
    margin-top: 40px;
    padding: 0 16px 0;
    line-height: 72px;
  }
}

.mypage__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 74px;
  font-weight: bold;
  &__tab {
    width: 50%;
    text-align: center;
    line-height: 74px;
  }
  .active {
    background-color: white;
    border-top:2px solid red;
  }
}

.mypage__item__not__found {
  background-color: white;
  height: 236px;
  &__body {
    height: 176px;
    padding-bottom: 60px;
    &__image {
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__text {
      color: #CCCCCC;
      text-align: center;
      font-weight: bold;
    }
  }
}

.pagination span.page.current {
  background-color: #C7EEFE;
}



