.r__header {
  background-color: black;
  height: 100px;
}

.r__pankuzu {
  background-color: grey;
  height: 49px;
}

.r__side {
  height: 1252px;
  width: 280px;
  .r__mypage__nav_list__item {
    height: 48px;
    padding: 16px;
  }
}

.r__banner {
  background-color: grey;
  height: 260px;
}

.r__footer {
  background-color: black;
  height: 391px;
}