.r__header {
  background-color: black;
  height: 100px;
}

.r__pankuzu {
  background-color: grey;
  height: 49px;
}

.r__side {
  height: 1252px;
  width: 280px;
  .r__nav__list__item {
    height: 48px;
    &__name {
      padding: 16px;
      font-size: 14px;
    }
  }
}

.r__banner {
  background-color: grey;
  height: 260px;
}

.r__footer {
  background-color: black;
  height: 391px;
}