<%# <html lang="ja-JP" class=""><head>
                  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>出品 - メルカリ スマホでかんたん フリマアプリ</title>
    <meta name="description" content="CMで話題！フリマアプリ「メルカリ」は、スマホから誰でも簡単に売り買いが楽しめるフリマアプリです。購入時はクレジットカード・キャリア決済・コンビニ・銀行ATMで支払いでき、品物が届いてから出品者に入金される独自システムで安心です。">
    
    <meta name="format-detection" content="telephone=no">

    
    
          <link href="/jp/assets/css/app.jp.css?1302515896" rel="stylesheet">
    
    <link rel="shortcut icon" href="//www-mercari-jp.akamaized.net/favicon.ico?3270184656">
<link rel="apple-touch-icon" href="//www-mercari-jp.akamaized.net/apple-touch-icon.png?3270184656">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/favicon-16x16.png?3270184656" sizes="16x16">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/favicon-32x32.png?3270184656" sizes="32x32">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/favicon-194x194.png?3270184656" sizes="194x194">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/android-chrome-192x192.png?3270184656" sizes="192x192">
<link rel="mask-icon" href="//www-mercari-jp.akamaized.net/safari-pinned-tab.svg?3270184656" color="#ea352d">
<link rel="manifest" href="//www-mercari-jp.akamaized.net/manifest.json?3270184656">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="//www-mercari-jp.akamaized.net/mstile-144x144.png?3270184656">
<meta name="theme-color" content="#ea352d">
<link rel="apple-touch-icon-precomposed" href="//www-mercari-jp.akamaized.net/apple-touch-icon-precomposed.png?3270184656">
<link rel="apple-touch-icon" sizes="57x57" href="//www-mercari-jp.akamaized.net/apple-touch-icon-57x57.png?3270184656">
<link rel="apple-touch-icon" sizes="60x60" href="//www-mercari-jp.akamaized.net/apple-touch-icon-60x60.png?3270184656">
<link rel="apple-touch-icon" sizes="72x72" href="//www-mercari-jp.akamaized.net/apple-touch-icon-72x72.png?3270184656">
<link rel="apple-touch-icon" sizes="76x76" href="//www-mercari-jp.akamaized.net/apple-touch-icon-76x76.png?3270184656">
<link rel="apple-touch-icon" sizes="114x114" href="//www-mercari-jp.akamaized.net/apple-touch-icon-114x114.png?3270184656">
<link rel="apple-touch-icon" sizes="120x120" href="//www-mercari-jp.akamaized.net/apple-touch-icon-120x120.png?3270184656">
<link rel="apple-touch-icon" sizes="144x144" href="//www-mercari-jp.akamaized.net/apple-touch-icon-144x144.png?3270184656">
<link rel="apple-touch-icon" sizes="152x152" href="//www-mercari-jp.akamaized.net/apple-touch-icon-152x152.png?3270184656">
<link rel="apple-touch-icon" sizes="180x180" href="//www-mercari-jp.akamaized.net/apple-touch-icon-180x180.png?3270184656">

      </head>
  <body class="">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        
        
        
        <div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656" alt="mercari">
            </a>
                  </h1>
              </header> %>

      <main class="single-main">
          <section class="l-single-container buy-item-container">
    <div id="sell-container">
    <div data-reactroot="">
    <div class="sell-container-inner">
    <h2 class="l-single-head">商品の情報を入力</h2>
    <form class="sell-form">
    <div class="sell-upload-box">
    <h3 class="sell-upload-head"><!-- react-text: 7 -->出品画像 <!-- /react-text --><span class="form-require">必須</span></h3><p>最大10枚までアップロードできます</p><div class="sell-dropbox-container clearfix state-image-number-10">
    <div class="sell-upload-items-container">
    <div class="sell-upload-items have-item-0">
    <ul></ul>
    </div></div>
    <div class="sell-upload-drop-box have-item-0">
    <input type="file" class="sell-upload-drop-file" multiple="" name="image1" style="display: none;">
    <pre class="visible-pc">ドラッグアンドドロップ
またはクリックしてファイルをアップロード</pre><i class="icon-camera"></i></div></div><!-- react-empty: 18 --><!-- react-empty: 19 --><!-- react-empty: 20 --><!-- react-empty: 21 --><!-- react-empty: 22 --><!-- react-empty: 23 --><!-- react-empty: 24 --><!-- react-empty: 25 --><!-- react-empty: 26 --><!-- react-empty: 27 --></div><div class="sell-content"><div class="form-group"><label><!-- react-text: 31 -->商品名  <!-- /react-text --><span class="form-require">必須</span></label><div><input class="input-default" value="" placeholder="商品名（必須 40文字まで)"></div><!-- react-empty: 35 --></div><div class="form-group"><label><!-- react-text: 38 -->商品の説明<!-- /react-text --><!-- react-text: 39 --> <!-- /react-text --><span class="form-require">必須</span></label><textarea class="textarea-default" rows="5" placeholder="商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"></textarea><!-- react-empty: 42 --></div></div><div class="sell-content clearfix"><h3 class="sell-sub-head">商品の詳細</h3><div class="sell-form-box"><div class="form-group"><label><!-- react-text: 48 -->カテゴリー<!-- /react-text --><span class="form-require">必須</span></label><div><div class="select-wrap"><select class="select-default"><option value="">---</option><option value="1">レディース</option><option value="2">メンズ</option><option value="3">ベビー・キッズ</option><option value="4">インテリア・住まい・小物</option><option value="5">本・音楽・ゲーム</option><option value="1328">おもちゃ・ホビー・グッズ</option><option value="6">コスメ・香水・美容</option><option value="7">家電・スマホ・カメラ</option><option value="8">スポーツ・レジャー</option><option value="9">ハンドメイド</option><option value="1027">チケット</option><option value="1318">自動車・オートバイ</option><option value="10">その他</option></select><i class="icon-arrow-bottom"></i></div></div><!-- react-empty: 55 --></div><div class="form-group"><label><!-- react-text: 58 -->商品の状態<!-- /react-text --><span class="form-require">必須</span></label><div class="select-wrap"><select class="select-default"><option value="">---</option><option value="1">新品、未使用</option><option value="2">未使用に近い</option><option value="3">目立った傷や汚れなし</option><option value="4">やや傷や汚れあり</option><option value="5">傷や汚れあり</option><option value="6">全体的に状態が悪い</option></select><i class="icon-arrow-bottom"></i></div><!-- react-empty: 64 --></div></div></div><div class="sell-content clearfix"><h3 class="sell-sub-head">配送について</h3><a href="/jp/help_center/article/68/" target="_blank" class="form-question">?</a><div class="sell-form-box"><div class="form-group"><label><!-- react-text: 71 -->配送料の負担<!-- /react-text --><span class="form-require">必須</span></label><div class="select-wrap"><select class="select-default"><option value="">---</option><option value="2">送料込み(出品者負担)</option><option value="1">着払い(購入者負担)</option></select><i class="icon-arrow-bottom"></i></div><!-- react-empty: 77 --></div><div class="form-group"><label><!-- react-text: 80 -->発送元の地域<!-- /react-text --><span class="form-require">必須</span></label><div class="select-wrap"><select class="select-default"><option value="">---</option><option value="1">北海道</option><option value="2">青森県</option><option value="3">岩手県</option><option value="4">宮城県</option><option value="5">秋田県</option><option value="6">山形県</option><option value="7">福島県</option><option value="8">茨城県</option><option value="9">栃木県</option><option value="10">群馬県</option><option value="11">埼玉県</option><option value="12">千葉県</option><option value="13">東京都</option><option value="14">神奈川県</option><option value="15">新潟県</option><option value="16">富山県</option><option value="17">石川県</option><option value="18">福井県</option><option value="19">山梨県</option><option value="20">長野県</option><option value="21">岐阜県</option><option value="22">静岡県</option><option value="23">愛知県</option><option value="24">三重県</option><option value="25">滋賀県</option><option value="26">京都府</option><option value="27">大阪府</option><option value="28">兵庫県</option><option value="29">奈良県</option><option value="30">和歌山県</option><option value="31">鳥取県</option><option value="32">島根県</option><option value="33">岡山県</option><option value="34">広島県</option><option value="35">山口県</option><option value="36">徳島県</option><option value="37">香川県</option><option value="38">愛媛県</option><option value="39">高知県</option><option value="40">福岡県</option><option value="41">佐賀県</option><option value="42">長崎県</option><option value="43">熊本県</option><option value="44">大分県</option><option value="45">宮崎県</option><option value="46">鹿児島県</option><option value="47">沖縄県</option><option value="99">未定</option></select><i class="icon-arrow-bottom"></i></div><!-- react-empty: 86 --></div><div class="form-group"><label><!-- react-text: 89 -->発送までの日数<!-- /react-text --><span class="form-require">必須</span></label><div class="select-wrap"><select class="select-default"><option value="">---</option><option value="1">1~2日で発送</option><option value="2">2~3日で発送</option><option value="3">4~7日で発送</option></select><i class="icon-arrow-bottom"></i></div><!-- react-empty: 95 --></div></div></div><div class="sell-content clearfix"><h3 class="sell-sub-head">販売価格(300〜9,999,999)</h3><a href="/jp/help_center/article/64/" target="_blank" class="form-question">?</a><div class="sell-form-box"><ul class="sell-price"><li class="form-group"><div class="clearfix"><label class="l-left"><!-- react-text: 104 -->価格<!-- /react-text --><span class="form-require">必須</span></label><div class="l-right sell-price-input"><!-- react-text: 107 -->¥<!-- /react-text --><div><input class="input-default" value="1000" placeholder="例）300"></div></div></div><!-- react-empty: 110 --></li><li class="clearfix"><div class="l-left"><!-- react-text: 199 -->販売手数料 (10%)<!-- /react-text --></div><div class="l-right">¥100</div></li><li class="clearfix bold"><div class="l-left">販売利益</div><div class="l-right">¥900</div></li></ul></div></div><div class="modal" role="dialog" tabindex="-1"><div class="modal-inner"></div></div><div class="sell-content sell-btn-box"><div><p><a href="/jp/help_center/getting_started/prohibited_items/" target="_blank">禁止されている出品</a><!-- react-text: 123 -->、<!-- /react-text --><a href="/jp/help_center/getting_started/prohibited_conduct/" target="_blank">行為</a><!-- react-text: 125 -->を必ずご確認ください。<!-- /react-text --></p><p><!-- react-text: 127 -->またブランド品でシリアルナンバー等がある場合はご記載ください。<!-- /react-text --><a href="/jp/help_center/getting_started/counterfeit_goods/" target="_blank">偽ブランドの販売</a><!-- react-text: 129 -->は犯罪であり処罰される可能性があります。<!-- /react-text --></p><p><!-- react-text: 131 -->また、出品をもちまして<!-- /react-text --><a href="/jp/seller_terms/">加盟店規約</a><!-- react-text: 133 -->に同意したことになります。<!-- /react-text --></p></div><button type="submit" class="btn-default btn-red"><!-- react-text: 135 -->出品する<!-- /react-text --></button><a class="btn-default btn-gray">もどる</a><!-- react-empty: 137 --></div></form><div class="overlay"></div></div></div></div>
  </section>
      </main>

              <footer class="single-footer">
          <nav>
            <ul class="clearfix">
              <li>
                <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
              </li>
                              <li>
                  <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
                </li>
                          </ul>
          </nav>
          <a href="https://www.mercari.com/jp/" class="single-footer-logo">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3270184656" alt="mercari" width="80" height="65">
          </a>
          <p>
            <small>© 2019 Mercari</small>
          </p>
        </footer>
          </div>

    
      <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"></script><script src="//www-mercari-jp.akamaized.net/assets/js/sell.js?1531427793"></script>
  <script>
    render({
      www_url: 'https://www.mercari.com/jp/',
      item_url: 'https://item.mercari.com/jp/',
      region: 'jp',
      locale: 'ja_JP'
    }, 'b7fe90ef924fb48f3e964e94fd4716b73e5332ff47551c6583fb70fa734929978d31cedc80773174d5c5ef84993e90236d55ec79b8470d5a7081822ef66f40731', '2b3fab7193a83b2705424fa5344c8f3d');
  </script>

              
            
<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'sell',
    'uid': '909993719'
  });
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLPT5L5');</script>
<!-- End Google Tag Manager -->
      

<script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1560049533944&amp;cv=9&amp;fst=1560049533944&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=376635471&amp;u_h=900&amp;u_w=1440&amp;u_ah=877&amp;u_aw=1440&amp;u_cd=24&amp;u_his=27&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg5t2&amp;sendb=1&amp;frm=0&amp;url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fsell%2F&amp;ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2F&amp;tiba=%E5%87%BA%E5%93%81%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><iframe src="https://bid.g.doubleclick.net/xbbe/pixel?d=KAE" style="display: none;"></iframe></body></html>






